{% extends "dashboard.html" %}


{% block title %}Carga Acádemica - SIUC{% endblock %}
{% block container_class %}justify-content-start align-items-start{% endblock %}

{% block content %}
{% load format_extras %}

<div class="container-fluid m-4">
    <!-- Título de la página -->
    <div class="row mb-3">
        <div class=" d-flex col justify-content-center align-items-center">
            <h3 class="fw-bold m-0">Aprobación de Carga Acádemica</h3>
        </div>
    </div>
</div>
{% endblock %}