{% extends "dashboard.html" %}

{% block title %}Aspirantes - SIUC{% endblock %}
{% block container_class %}justify-content-start align-items-start{% endblock %}

{% block content %}
<div class="container-fluid m-4">
    <h3 class="mb-3 d-flex justify-content-center align-items-center fw-bold">Gestión de Aspirantes</h3>
<!-- Título y botón para agregar nuevo aspirante -->
    <div class="row mb-3">
        <div class=" d-flex col-mb-12 justify-content-between align-items-center">
            <h4 class="m-0">Aspirantes Pendientes</h4>
            {% if "Secretaria Talento Humano" in user_groups %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoPersonalModal">
                Nuevo Aspirante
            </button>
            {% endif %}
        </div>
    </div>

    <!-- Formulario de búsqueda -->
    <form method="GET" class="mb-3">
        <div class="row col d-flex justify-content-start align-items-center">
            <div class="position-relative col-md-4">
                <input type="text" name="aspirante_pendiente" id="filtroAspPenInput" class="form-control filtro-input" placeholder="Buscar por nombre o número de documento" value="{{ aspirante_pendiente }}">
            </div>
            <div class="col-md-auto d-flex gap-2">
                <button type="submit" class="btn btn-alterno-dark">Buscar</button>
                <button type="button" id="clearFilterPendientes" class="btn btn-alterno-red">Limpiar</button>
            </div>
        </div>
    </form>

    <!-- Tabla de datos -->
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover mb-3 align-middle">
                    <thead class="align-middle text-warp">
                        <tr>
                            <th scope="col"></th>
                            <th class="col-3" scope="col">Nombre Completo</th>
                            <th class="col-2" scope="col">Rol</th>
                            <th class="col-4" scope="col">Cargo</th>
                            <th class="col-1" scope="col">Estado</th>
                            <th class="col-2" scope="col">Hoja de Vida</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if not page_obj_pendientes %}
                            <tr>
                                <td colspan="7" class="text-center">No se encontraron datos disponibles</td>
                            </tr>
                        {% else %}
                            {% for usuario in page_obj_pendientes %}
                            <tr class="text-center">
                                <td>{{ forloop.counter0|add:page_obj_pendientes.start_index }}</td>
                                <td>
                                    {{ usuario.primer_nombre }}
                                    {% if usuario.segundo_nombre %} {{ usuario.segundo_nombre }} {% endif %}
                                    {{ usuario.primer_apellido }}
                                    {% if usuario.segundo_apellido %} {{ usuario.segundo_apellido }} {% endif %}
                                </td>
                                <td>
                                    {{ usuario.fk_rol.rol }} - {{ usuario.fk_rol.descripcion }}
                                </td>
                                <td>
                                    {{ usuario.cargo }}
                                </td>
                                <td>
                                    <span class="alert alert-warning d-inline-block py-1 px-2 mb-0">
                                        {{ usuario.estado_revision }}
                                    </span>
                                </td=>
                                <td>
                                    {% if usuario.url_hoja_de_vida %}
                                    <a href="{{ usuario.url_hoja_de_vida }}" id="revisarHojaDeVida" target="_blank" class="text-decoration-none">Revisar</a>
                                    {% else %}
                                    No Aplica
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center gap-3">
                                        <a href="#" class="btn btn-alterno-red d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal" data-id="{{ usuario.id }}" data-tipo="empleado">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a href="#" class="btn btn-alterno-dark d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#detalleUsuarioModal" data-id="{{ usuario.id }}" data-tipo="empleado">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Paginación para la tabla de aspirantes en estado 'Pendiente' -->
    <nav class="mt-0">
        <ul class="pagination justify-content-end">
            {% if page_obj_pendientes.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page_pendientes=1&aspirante_pendiente={{ query }}">
                    <i class="bi bi-chevron-double-left"></i>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page_pendientes={{ page_obj_pendientes.previous_page_number }}&aspirante_pendiente={{ query }}">
                    <i class="bi bi-caret-left-fill"></i>
                </a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">Página {{ page_obj_pendientes.number }} de {{ page_obj_pendientes.paginator.num_pages }}</span>
            </li>
            {% if page_obj_pendientes.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page_pendientes={{ page_obj_pendientes.next_page_number }}&aspirante_pendiente={{ query }}">
                    <i class="bi bi-caret-right-fill"></i>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page_pendientes={{ page_obj_pendientes.paginator.num_pages }}&aspirante_pendiente={{ query }}">
                    <i class="bi bi-chevron-double-right"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

<!-- Separador -->
    <div class="d-flex align-items-center justify-content-center divider mb-2">
        <hr class="w-100">
    </div>

<!-- Tabla de aspirantes en estado 'Rechazado' -->
    <h4 id="aspirantesRechazados" class="mb-3">Aspirantes Rechazados</h4>

    <!-- Formulario de búsqueda -->
    <form method="GET" class="mb-3">
        <div class="row col d-flex justify-content-start align-items-center">
            <div class="col-md-4">
                <input type="text" name="aspirante_rechazado" id="filtroRechazadosInput" class="form-control filtro-input" placeholder="Buscar por nombre o número de documento" value="{{ aspirante_rechazado }}">
            </div>
            <div class="col-md-auto d-flex gap-2">
                <button type="submit" class="btn btn-alterno-dark">Buscar</button>
                <button type="button" id="clearFilterRechazados" class="btn btn-alterno-red">Limpiar</button>
            </div>
        </div>
    </form>

    <!-- Tabla de datos -->
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover mb-3 align-middle">
                    <thead class="align-middle text-warp">
                        <tr>
                            <th scope="col"></th>
                            <th class="col-3" scope="col">Nombre Completo</th>
                            <th class="col-2" scope="col">Rol</th>
                            <th class="col-4" scope="col">Cargo</th>
                            <th class="col-1" scope="col">Estado</th>
                            <th class="col-2" scope="col">Hoja de Vida</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if not page_obj_rechazados %}
                            <tr>
                                <td colspan="7" class="text-center">No se encontraron datos disponibles</td>
                            </tr>
                        {% else %}
                            {% for usuario in page_obj_rechazados %}
                            <tr class="text-center">
                                <td>{{ forloop.counter0|add:page_obj_rechazados.start_index }}</td>
                                <td>
                                    {{ usuario.primer_nombre }}
                                    {% if usuario.segundo_nombre %} {{ usuario.segundo_nombre }}{% endif %}
                                    {{ usuario.primer_apellido }}
                                    {% if usuario.segundo_apellido %} {{ usuario.segundo_apellido }}{% endif %}
                                </td>
                                <td>
                                    {{ usuario.fk_rol.rol }} - {{ usuario.fk_rol.descripcion }}
                                </td>
                                <td>
                                    {{ usuario.cargo }}
                                </td>
                                <td>
                                    <span class="alert alert-danger d-inline-block py-1 px-2 mb-0">
                                        {{ usuario.estado_revision }}
                                    </span>
                                </td>
                                <td>
                                    {% if usuario.url_hoja_de_vida %}
                                    <a href="{{ usuario.url_hoja_de_vida }}" id="revisarHojaDeVida" target="_blank" class="text-decoration-none">Revisar</a>
                                    {% else %}
                                    No Aplica
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center gap-3">
                                        <a href="#" class="btn btn-alterno-red d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal" data-id="{{ usuario.id }}" data-tipo="empleado">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a href="#" class="btn btn-alterno-dark d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#detalleUsuarioModal" data-id="{{ usuario.id }}" data-tipo="empleado">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Paginación para la tabla de aspirantes en estado 'Rechazado' -->
    <nav class="mt-0">
        <ul class="pagination justify-content-end">
            {% if page_obj_rechazados.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page_rechazados={{ page_obj_rechazados.previous_page_number }}&aspirante_rechazados={{ query }}">
                    <i class="bi bi-caret-left-fill"></i>
                </a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">Página {{ page_obj_rechazados.number }} de {{ page_obj_rechazados.paginator.num_pages }}</span>
            </li>
            {% if page_obj_rechazados.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page_rechazados={{ page_obj_rechazados.next_page_number }}&aspirante_rechazados={{ query }}">
                    <i class="bi bi-caret-right-fill"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<!-- Modal Información Personal -->
<div class="modal fade" id="infoPersonalModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="infoPersonalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-forms modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="nuevoAspiranteModalLabel">Nuevo Aspirante</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">
                <form id="formInfoPersonal" method="POST" action="{% url 'agregar_aspirante' %}" data-ajax-submit="true">
                    {% csrf_token %}
                    <div class="container">
                        <!-- Información Personal -->
                        <div class="container mb-3">
                            <div class="d-flex gap-3 fs-5 fw-bold">
                                <i class="bi bi-person-vcard"></i>Información Personal
                            </div>
                            <div class="row px-3">
                                <div class="col-md-6 mb-2">
                                    <label for="primer_nombre" class="form-label mb-0">Primer Nombre <span class='fw-bold fs-4'>*</span></label>
                                    <input type="text" class="form-control" id="primer_nombre" name="primer_nombre" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="segundo_nombre" class="form-label mb-0">Segundo Nombre<span class='fw-bold fs-4'></span></label>
                                    <input type="text" class="form-control" id="segundo_nombre" name="segundo_nombre">
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="primer_apellido" class="form-label mb-0">Primer Apellido <span class='fw-bold fs-4'>*</span></label>
                                    <input type="text" class="form-control" id="primer_apellido" name="primer_apellido" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="segundo_apellido" class="form-label mb-0">Segundo Apellido<span class='fw-bold fs-4'></span></label>
                                    <input type="text" class="form-control" id="segundo_apellido" name="segundo_apellido">
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="fk_rol" class="form-label mb-0">Rol <span class='fw-bold fs-4'>*</span></label>
                                    <select class="form-select" id="fk_rol" name="fk_rol" required>
                                        <option value="" selected>Seleccione</option>
                                        {% for rol in roles_list %}
                                            <option value="{{ rol.id }}">{{ rol.rol }} - {{ rol.descripcion }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="cargo" class="form-label mb-0">Cargo <span class='fw-bold fs-4'>*</span></label>
                                    <input type="text" class="form-control" id="cargo" name="cargo" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="fecha_nacimiento" class="form-label mb-0">Fecha de Nacimiento <span class='fw-bold fs-4'>*</span></label>
                                    <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="lugar_nacimiento" class="form-label mb-0">Lugar de Nacimiento<span class='fw-bold fs-4'></span></label>
                                    <input type="text" class="form-control" id="lugar_nacimiento" name="lugar_nacimiento">
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="fk_tipo_documento" class="form-label mb-0">Tipo de Documento <span class='fw-bold fs-4'>*</span></label>
                                    <select class="form-select" id="fk_tipo_documento" name="fk_tipo_documento" required>
                                        <option value="" selected>Seleccione</option>
                                        {% for tipo in tipos_documento_list %}
                                            <option value="{{ tipo.id }}">{{ tipo.tipo_documento }} - {{ tipo.descripcion }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="numero_documento" class="form-label mb-0">Número de Documento <span class='fw-bold fs-4'>*</span></label>
                                    <input type="number" class="form-control" id="numero_documento" name="numero_documento" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="fecha_expedicion_documento" class="form-label mb-0">Fecha de Expedición del Documento <span class='fw-bold fs-4'>*</span></label>
                                    <input type="date" class="form-control" id="fecha_expedicion_documento" name="fecha_expedicion_documento" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="lugar_expedicion_documento" class="form-label mb-0">Lugar de Expedición del Documento<span class='fw-bold fs-4'></span></label>
                                    <input type="text" class="form-control" id="lugar_expedicion_documento" name="lugar_expedicion_documento">
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="sexo" class="form-label mb-0">Sexo <span class='fw-bold fs-4'>*</span></label>
                                    <select class="form-select" id="sexo" name="sexo" required>
                                        <option value="" selected>Seleccione</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="correo_personal" class="form-label mb-0">Correo Personal <span class='fw-bold fs-4'>*</span></label>
                                    <input type="email" class="form-control" id="correo_personal" name="correo_personal" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="celular" class="form-label mb-0">Celular <span class='fw-bold fs-4'>*</span></label>
                                    <input type="number" class="form-control" id="celular" name="celular" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="telefono_fijo" class="form-label mb-0">Teléfono Fijo<span class='fw-bold fs-4'></span></label>
                                    <input type="number" class="form-control" id="telefono_fijo" name="telefono_fijo">
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="direccion_residencia" class="form-label mb-0">Dirección de Residencia <span class='fw-bold fs-4'>*</span></label>
                                    <input type="text" class="form-control" id="direccion_residencia" name="direccion_residencia" required>
                                </div>

                                <div class="col-md-6 mb-2" style="position: relative;">
                                    <label for="departamento_residencia" class="form-label mb-0">Departamento de Residencia <span class='fw-bold fs-4'>*</span></label>
                                    <input type="text" class="form-control mb-2" id="departamento_residencia_input" name="departamento_residencia" placeholder="Buscar o escribir Departamento de Residencia..." autocomplete="off" required>
                                    <ul id="departamento_residencia_dropdown" class="dropdown-menu">
                                        {% for departamento in departamentos_list %}
                                            <li>
                                                <button class="dropdown-item" type="button" data-value="{{ departamento.nombre }}">
                                                    {{ departamento.nombre }}
                                                </button>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="ciudad_residencia" class="form-label mb-0">Ciudad de Residencia <span class='fw-bold fs-4'>*</span></label>
                                    <input type="text" class="form-control" id="ciudad_residencia" name="ciudad_residencia" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="barrio_residencia" class="form-label mb-0">Barrio de Residencia <span class='fw-bold fs-4'>*</span></label>
                                    <input type="text" class="form-control" id="barrio_residencia" name="barrio_residencia" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="estado_civil" class="form-label mb-0">Estado Civil<span class='fw-bold fs-4'></span></label>
                                    <select type="text" class="form-select" id="estado_civil" name="estado_civil">
                                        <option value="" selected>Seleccione</option>
                                        <option value="Soltero (a)">Soltero (a)</option>
                                        <option value="Casado (a)">Casado (a)</option>
                                        <option value="Unión Libre">Unión Libre</option>
                                        <option value="Soltero (a)">Separado (a)</option>
                                        <option value="Divorciado (a)">Divorciado (a)</option>
                                        <option value="Viudo (a)">Viudo (a)</option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="ultimo_nivel_estudio" class="form-label mb-0">Último Nivel de Estudio <span class='fw-bold fs-4'>*</span></label>
                                    <select class="form-select" id="ultimo_nivel_estudio" name="ultimo_nivel_estudio" required>
                                        <option value="" selected>Seleccione</option>
                                        {% for nivel in niveles_academicos_list %}
                                            <option value="{{ nivel.nombre }}">{{ nivel.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-6 mb-2" style="position: relative;">
                                    <label for="fk_eps_input" class="form-label mb-0">EPS <span class="fw-bold fs-4">*</span></label>
                                    <input type="text" id="fk_eps_input" class="form-control mb-2" placeholder="Buscar o escribir EPS..." autocomplete="off" required>
                                    <input type="hidden" id="fk_eps" name="fk_eps" value=""> <!-- Campo oculto para el ID -->
                                    <ul id="fk_eps_dropdown" class="dropdown-menu">
                                        {% for eps in eps_list %}
                                            <li>
                                                <button class="dropdown-item" type="button" data-value="{{ eps.id }}">
                                                    {{ eps.nombre }} {% if eps.regimen %}({{ eps.regimen }}){% endif %}{% if eps.codigo_eps %} - {{ eps.codigo_eps }}{% endif %}
                                                </button>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="afp" class="form-label mb-0">AFP <span class='fw-bold fs-4'>*</span></label>
                                    <select type="text" class="form-select" id="afp" name="afp" required>
                                        <option value="" selected>Seleccione</option>
                                        {% for afp in afp_list %}
                                            <option value="{{ afp.nombre }}">{{ afp.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-12">
                                    <label for="url_hoja_de_vida" class="form-label mb-0">URL Hoja de Vida <span class='fw-bold fs-4'>*</span></label>
                                    <input type="url" class="form-control" id="url_hoja_de_vida" name="url_hoja_de_vida" required>
                                </div>

                                <div class="col-md-6 mb-2">
                                    <label for="sede_donde_labora" class="form-label mb-0">Sede donde laborará <span class='fw-bold fs-4'>*</span></label>
                                    <select class="form-select" id="sede_donde_labora" name="sede_donde_labora" required>
                                        <option value="" selected>Seleccione</option>
                                        {% for sede in sedes_list %}
                                            <option value="{{ sede.ubicacion }}">{{ sede.ubicacion }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label for="estado_revision" class="form-label mb-0">Estado de Revisión <span class='fw-bold fs-4'></span></label>
                                    <input type="text" class="form-control" id="estado_revision" name="estado_revision" value="Pendiente" disabled required>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </form>
            </div>

            <!-- Botón para enviar el formulario -->
            <div class="modal-footer d-flex justify-content-between align-items-center">
                <!-- Nota -->
                <p class='mensaje-info fs-5'><span class='fw-bold'>NOTA:</span> Los campos marcados con ' <span class='fw-bold'>*</span> ' son obligatorios.</p>

                <button type="submit" class="btn btn-primary" form="formInfoPersonal">Agregar y continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Información Adicional -->
<div class="modal fade" id="infoAdicionalModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="infoAdicionalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-forms modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="infoAdicionalModalLabel">Información Adicional</h4>
            </div>
            <div class="modal-body p-2">
                <div class="container">
                    <!-- Detalles Académicos -->
                    <div class="container mb-3">
                        <div class="d-flex gap-3 fs-5 fw-bold">
                            <i class="bi bi-mortarboard"></i>Detalles Académicos
                        </div>
                        <!-- Botón para registrar información académica -->
                        <div class="text-end mb-2 px-2">
                            <a href="#" class="link-modal d-flex gap-2 justify-content-end fw-bold text-decoration-none" data-bs-toggle="modal" data-bs-target="#formDetalleAcademicoModal">
                                <i class="bi bi-plus-circle"></i> Agregar Detalle Académico
                            </a>
                        </div>

                        <!-- Tabla de Detalles Académicos -->
                        <div class="table-responsive px-2">
                            <table class="table table-striped table-hover mb-3 align-middle">
                                <thead class="thead-dark">
                                    <tr class="text-center">
                                        <th>Institución</th>
                                        <th>Título Obtenido</th>
                                        <th>Nivel Académico</th>
                                        <th>Fecha de Graduación</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaAcademica">
                                    {% comment %} {% for detalle in detalles_academicos_by_id %}
                                    <tr>
                                        <td>{{ detalle.institucion }}</td>
                                        <td>{{ detalle.titulo_obtenido }}</td>
                                        <td>{{ detalle.nivel_academico.nombre }}</td>
                                        <td>{{ detalle.fecha_graduacion }}</td>
                                        <td>
                                            <!-- Acciones -->
                                        </td>
                                    </tr>
                                    {% endfor %} {% endcomment %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Separador -->
                    <div class="d-flex align-items-center justify-content-center divider">
                        <hr class="w-100">
                    </div>

                    <!-- Experiencia Laboral -->
                    <div class="container mb-2">
                        <div class="d-flex gap-3 fs-5 fw-bold">
                            <i class="bi bi-briefcase"></i>Experiencia Laboral
                        </div>
                        <!-- Botón para registrar información laboral -->
                        <div class="text-end mb-2 px-2">
                            <a href="#" class="link-modal d-flex gap-2 justify-content-end fw-bold text-decoration-none" data-bs-toggle="modal" data-bs-target="#formExpLaboralModal">
                                <i class="bi bi-plus-circle"></i> Agregar Experiencia Laboral
                            </a>
                        </div>

                        <!-- Tabla de Experiencia Laboral -->
                        <div class="table-responsive px-2">
                            <table class="table table-striped table-hover mb-3 align-middle">
                                <thead class="thead-dark">
                                    <tr class="text-center">
                                        <th>Empresa</th>
                                        <th>Cargo</th>
                                        <th>Fecha de Inicio</th>
                                        <th>Fecha de Fin</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaExperiencia">
                                    {% comment %} {% for detalle in detalles_academicos %}
                                    <tr>
                                        <td>{{ detalle.institucion }}</td>
                                        <td>{{ detalle.titulo_obtenido }}</td>
                                        <td>{{ detalle.nivel_academico.nombre }}</td>
                                        <td>{{ detalle.fecha_graduacion }}</td>
                                        <td>
                                            <!-- Acciones -->
                                        </td>
                                    </tr>
                                    {% endfor %} {% endcomment %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botón para enviar el formulario -->
            <div class="modal-footer d-flex justify-content-between align-items-center">
                <!-- Nota -->
                <p class='mensaje-info fs-5'><span class='fw-bold'>NOTA:</span> Los campos marcados con ' <span class='fw-bold'>*</span> ' son obligatorios.</p>

                <button type="submit" class="btn btn-primary" id="btnFinalizar">Finalizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Modal Formulario Detalle Académico -->
<div class="modal fade" id="formDetalleAcademicoModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="formDetalleAcademicoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-forms modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleAcademicoLabel">Agregar Detalle Académico</h5>
            </div>
            <div class="modal-body">
                <form id="formDetalleAcademico" method="POST" action="{% url 'agregar_detalle_academico' %}" data-ajax-submit="true">
                    {% csrf_token %}
                    <input type="hidden" id="usuario_id" name="usuario_id" value="" />
                    <div class="row p-2">
                        <div class="mb-2" style="position: relative;">
                            <label for="institucion_input" class="form-label mb-0">Institución <span class='fw-bold fs-4'></span></label>
                            <input type="text" id="institucion_input" class="form-control mb-2" placeholder="Buscar o escribir institución..." autocomplete="off" name="institucion">
                            <ul id="institucion_dropdown" class="dropdown-menu">
                                {% for institucion in instituciones_list %}
                                    <li>
                                        <button class="dropdown-item" type="button" data-value="{{ institucion.nombre_institucion }}">
                                            {{ institucion.nombre_institucion }} - {{ institucion.departamento_ubicacion }}, {{ institucion.municipio_ubicacion }}
                                        </button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="mb-2">
                            <label for="institucion_extranjera" class="form-label mb-0">Institución Extranjera (Opcional)</label>
                            <input type="text" class="form-control" id="institucion_extranjera" name="institucion_extranjera">
                        </div>
                        <div class="mb-2">
                            <label for="codigo_convalidacion" class="form-label mb-0">Código de Convalidación (Opcional)</label>
                            <input type="number" class="form-control" id="codigo_convalidacion" name="codigo_convalidacion">
                        </div>
                        <div class="mb-2">
                            <label for="titulo_obtenido" class="form-label mb-0">Título Obtenido <span class='fw-bold fs-4'>*</span></label>
                            <input type="text" class="form-control" id="titulo_obtenido" name="titulo_obtenido" required>
                        </div>
                        <div class="mb-2">
                            <label for="nivel_academico" class="form-label mb-0">Nivel Académico <span class='fw-bold fs-4'>*</span></label>
                            <select class="form-select" id="nivel_academico" name="nivel_academico" required>
                                <option value="" selected>Seleccione</option>
                                {% for nivel in niveles_academicos_list %}
                                    <option value="{{ nivel.id }}">{{ nivel.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="metodologia_programa" class="form-label mb-0">Metodología del Programa <span class='fw-bold fs-4'>*</span></label>
                            <select class="form-select" id="metodologia_programa" name="metodologia_programa" required>
                                <option value="" selected>Seleccione</option>
                                <option value="presencial">Presencial</option>
                                <option value="virtual">Virtual</option>
                                <option value="remota_sincronica">Remota Sincrónica</option>
                                <option value="remota_asincronica">Remota Asincrónica</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="ies_codigo" class="form-label mb-0">Código IES (Opcional) <span class='fw-bold fs-4'></span></label>
                            <input type="number" class="form-control" id="ies_codigo" name="ies_codigo">
                        </div>
                        <div class="mb-2">
                            <label for="codigo_pais" class="form-label mb-0">Código del País (Opcional) <span class='fw-bold fs-4'></span></label>
                            <input type="number" class="form-control" id="codigo_pais" name="codigo_pais">
                        </div>
                        <div class="mb-2">
                            <label for="fecha_graduacion" class="form-label mb-0">Fecha de Graduación <span class='fw-bold fs-4'>*</span></label>
                            <input type="date" class="form-control" id="fecha_graduacion" name="fecha_graduacion" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancelarFormDetalleAcademico" data-bs-toggle="modal" data-bs-target="#infoAdicionalModal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="agregarDetalleAcademico" form="formDetalleAcademico">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Formulario Exp Laboral -->
<div class="modal fade" id="formExpLaboralModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="formExpLaboralModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-forms modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="detalleAcademicoLabel">Agregar Experiencia Laboral</h5>
                </div>
            <div class="modal-body">
                <form id="formExpLaboral" method="POST" action="{% url 'agregar_exp_laboral' %}" data-ajax-submit="true">
                    {% csrf_token %}
                    <input type="hidden" id="usuario_id" name="usuario_id" value="" />
                    <div class="row p-2">
                        <div class="mb-2">
                            <label for="empresa" class="form-label mb-0">Empresa donde Laboró <span class='fw-bold fs-4'>*</span></label>
                            <input type="text" class="form-control" id="empresa" name="empresa" required>
                        </div>
                        <div class="mb-2">
                            <label for="cargo" class="form-label mb-0">Cargo Laborado <span class='fw-bold fs-4'>*</span></label>
                            <input type="text" class="form-control" id="cargo" name="cargo" required>
                        </div>
                        <div class="mb-2">
                            <label for="fecha_inicio" class="form-label mb-0">Fecha de Inicio <span class='fw-bold fs-4'>*</span></label>
                            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" required>
                        </div>
                        <div class="mb-2">
                            <label for="fecha_fin" class="form-label mb-0">Fecha de Fin <span class='fw-bold fs-4'>*</span></label>
                            <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancelarFormExpLaboral" data-bs-toggle="modal" data-bs-target="#infoAdicionalModal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="agregarDetalleAcademico" form="formExpLaboral">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Filtrado de datos -->
<script>
    // Variables para Aspirantes Pendientes
    const filtroInput = document.getElementById("filtroInput");
    const clearFilter = document.getElementById("clearFilter");

    // Variables para Aspirantes Rechazados
    const filtroRechazadosInput = document.getElementById("filtroRechazadosInput");
    const clearRechazadosFilter = document.getElementById("clearRechazadosFilter");

    // Función General para manejar "X" en filtros
    function handleClearFilter(input, clearIcon) {
        // Mostrar la "X" si el input tiene texto
        input.addEventListener("input", function () {
            if (input.value) {
                clearIcon.style.display = "block";
            } else {
                clearIcon.style.display = "none";
            }
        });

        // Limpiar el input y recargar la página
        clearIcon.addEventListener("click", function () {
            input.value = ""; // Limpiar el input
            clearIcon.style.display = "none";

            // Recargar la página sin parámetros de filtro
            window.location.href = window.location.pathname;
        });

        // Mostrar la "X" si el input ya tiene un valor preexistente
        if (input.value) {
            clearIcon.style.display = "block";
        }
    }

    // Aplicar la funcionalidad a ambos filtros
    handleClearFilter(filtroInput, clearFilter); // Aspirantes Pendientes
    handleClearFilter(filtroRechazadosInput, clearRechazadosFilter); // Aspirantes Rechazados
</script>

<!-- Boton "Limpiar" campo de busqueda-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Botón para limpiar filtro de Aspirantes Pendientes
        const clearFiltroPendientes = document.getElementById("clearFiltroPendientes");
        if (clearFiltroPendientes) {
            clearFiltroPendientes.addEventListener("click", function () {
                // Limpiar el input del filtro
                const filtroInputPendientes = document.getElementById("filtroAspPenInput");
                if (filtroInputPendientes) {
                    filtroInputPendientes.value = ""; // Vaciar el campo de texto
                }

                // Recargar la página sin parámetros de búsqueda
                const url = new URL(window.location.href);
                url.searchParams.delete("aspirante_pendiente"); // Eliminar el parámetro de búsqueda
                window.history.pushState({}, '', url); // Actualizar la URL sin recargar
                location.reload(); // Recargar la página
            });
        }

        // Botón para limpiar filtro de Aspirantes Rechazados
        const clearFiltroRechazados = document.getElementById("clearFiltroRechazados");
        if (clearFiltroRechazados) {
            clearFiltroRechazados.addEventListener("click", function () {
                // Limpiar el input del filtro
                const filtroInputRechazados = document.getElementById("filtroRechazadosInput");
                if (filtroInputRechazados) {
                    filtroInputRechazados.value = ""; // Vaciar el campo de texto
                }

                // Recargar la página sin parámetros de búsqueda
                const url = new URL(window.location.href);
                url.searchParams.delete("aspirante_rechazado"); // Eliminar el parámetro de búsqueda
                window.history.pushState({}, '', url); // Actualizar la URL sin recargar
                location.reload(); // Recargar la página
            });
        }
    });
</script>

<!-- Scroll automatico a seccion por campo de busqueda-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Función para realizar scroll automático a una sección específica
        function scrollToSection(sectionId) {
            const section = document.getElementById(sectionId);
            if (section) {
                section.scrollIntoView({ behavior: "smooth" });
            }
        }

        // Detectar y manejar filtros aplicados en la URL
        function handleFilterScroll() {
            const searchParams = new URLSearchParams(window.location.search);

            // Si hay filtro para Aspirantes Rechazados
            const aspiranteRechazado = searchParams.get("aspirante_rechazado");
            if (aspiranteRechazado) {
                scrollToSection("aspirantesRechazados");
            }

            // Si hay filtro para Aspirantes Pendientes
            const aspirantePendiente = searchParams.get("aspirante_pendiente");
            if (aspirantePendiente) {
                scrollToSection("aspirantesPendientes");
            }
        }

        // Manejar los botones de limpiar filtro
        function handleClearFilter(buttonId, targetSectionId) {
            const clearButton = document.getElementById(buttonId);
            if (clearButton) {
                clearButton.addEventListener("click", function () {
                    // Limpiar el filtro y desplazarse automáticamente
                    window.location.href = window.location.pathname + `#${targetSectionId}`;
                });
            }
        }

        // Ejecutar scroll automático si hay filtros aplicados
        handleFilterScroll();

        // Configurar botones de limpiar filtro
        handleClearFilter("clearFilterPendientes", "aspirantesPendientes");
        handleClearFilter("clearFilterRechazados", "aspirantesRechazados");
    });
</script>

<!-- Select con campo de busqueda -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
    function setupDropdownFilter(inputId, dropdownId, hiddenInputId) { // Agregar hiddenInputId como parámetro
        const inputElement = document.getElementById(inputId);
        const dropdownElement = document.getElementById(dropdownId);
        const hiddenInputElement = document.getElementById(hiddenInputId); // Campo oculto
        const originalItems = Array.from(dropdownElement.querySelectorAll("button"));

        // Mostrar/ocultar el dropdown según el input
        inputElement.addEventListener("input", function () {
            const query = inputElement.value.toLowerCase();

            // Filtrar las opciones según el texto ingresado
            const filteredItems = originalItems.filter(item =>
                item.textContent.toLowerCase().includes(query)
            );

            // Limpiar y actualizar el dropdown
            dropdownElement.innerHTML = "";
            if (filteredItems.length > 0) {
                filteredItems.forEach(item => dropdownElement.appendChild(item.parentElement));
                dropdownElement.style.display = "block";
            } else {
                dropdownElement.style.display = "none";
            }
        });

        // Cuando seleccionas una opción
        dropdownElement.addEventListener("click", function (event) {
            if (event.target.matches(".dropdown-item")) {
                const selectedText = event.target.textContent.trim(); // Elimina cualquier espacio extra
                inputElement.value = selectedText; // Inserta solo el texto limpio
                dropdownElement.style.display = "none"; // Oculta el dropdown
            }
        });

        // Ocultar el dropdown al hacer clic fuera
        document.addEventListener("click", function (event) {
            if (!event.target.closest(`#${inputId}`) && !event.target.closest(`#${dropdownId}`)) {
                dropdownElement.style.display = "none";
            }
        });

        // Mostrar todas las opciones si el input está vacío
        inputElement.addEventListener("focus", function () {
            if (inputElement.value.trim() === "") {
                dropdownElement.innerHTML = "";
                originalItems.forEach(item => dropdownElement.appendChild(item.parentElement));
                dropdownElement.style.display = "block";
            }
        });
    }

    // Configurar el dropdown para EPS
    setupDropdownFilter("fk_eps_input", "fk_eps_dropdown", "fk_eps");

    // Configurar el dropdown para departamentos
    setupDropdownFilter("departamento_residencia_input", "departamento_residencia_dropdown", "departamento_residencia"); // Si también necesitas esto
    // Configurar el dropdown para Institución
    setupDropdownFilter("institucion_input", "institucion_dropdown", "institucion");
});    
</script>
{% endblock %}