{% extends "dashboard.html" %}


{% block title %}Carga Acádemica - SIUC{% endblock %}
{% block container_class %}justify-content-start align-items-start{% endblock %}

{% block content %}
{% load format_extras %}

<div class="container-fluid m-4">
    <!-- Título de la página -->
    <div class="row mb-3">
        <div class=" d-flex col justify-content-center align-items-center">
            <h3 class="fw-bold m-0">Gestión de Carga Acádemica</h3>
        </div>
    </div>

    <!-- Periodo en curso -->
    {% if periodo_actual %}
        <h5 id="periodoVigente" class="m-0"><span class="fw-bold m-0">Periodo Vigente:</span> {{ periodo_actual.year }}-{{ periodo_actual.periodo }}</h5>
    {% else %}
        <h5 id="periodoVigente">No hay un periodo vigente en este momento.</h5>
    {% endif %}

    <div class="accordion" id="cargasAcademicasAccordion">
        {% for semestre in semestres_list %}
        <div class="row my-3">
            <div class="col-mb-12">
                <button class="btn-cargas btn-carga-por-semestre col-md-12" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCargasAcademicas{{ semestre.semestre }}" aria-expanded="false" aria-controls="collapseCargasAcademicas{{ semestre.semestre }}">
                    {{ semestre.descripcion }} Semestre
                </button>
            </div>

            <!-- Tabla de datos con data-bs-parent para cerrar otras secciones al abrir una -->
            <div class="collapse" id="collapseCargasAcademicas{{ semestre.semestre }}" data-bs-parent="#cargasAcademicasAccordion">
                <div class="row mt-2 px-3">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover mb-0 align-middle">
                                <thead class="align-middle text-warp">
                                    <tr>
                                        <th class="col-2" scope="col">Materia</th>
                                        <th class="col-1" scope="col">Compartida con</th>
                                        <th class="col-2" scope="col">Docente</th>
                                        <th scope="col">Documento</th>
                                        <th class="col-1" scope="col">Dedicación</th>
                                        <th class="col-1" scope="col">Créditos</th>
                                        <th class="col-1" scope="col">Horas Totales</th>
                                        <th class="col-1" scope="col">Valor a Pagar</th>
                                        <th class="col-1" scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if semestre.semestre not in cargas_dict %}
                                        <tr>
                                            <td colspan="9" class="text-center">No se encontraron datos disponibles</td>
                                        </tr>
                                    {% else %}
                                        {% for carga_academica in cargas_academicas %}
                                            {% if carga_academica.fk_semestre.semestre == semestre.semestre %}
                                                <tr class="text-center fs-small">
                                                    <td>
                                                        {{ carga_academica.fk_materia.materia }}
                                                    </td>
                                                    <td>
                                                        {% with programas=materias_compartidas_dict|get_item:carga_academica.id %}
                                                            {% if programas and programas|length > 0 %}
                                                                {# Mostrar el programa madre solo si el usuario está en los programas compartidos #}
                                                                {% if programa_usuario.programa in programas %}
                                                                    <span class="badge bg-programa-madre">{{ carga_academica.fk_programa.programa }}</span>
                                                                {% endif %}
                                                                {# Mostrar los demás programas compartidos, excepto el del usuario logueado #}
                                                                {% for programa in programas %}
                                                                    {% if programa != programa_usuario.programa %}
                                                                        <span class="badge bg-programa">{{ programa }}</span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                <span class="fst-italic">No aplica</span>
                                                            {% endif %}
                                                        {% endwith %}
                                                    </td>
                                                    <td>
                                                        {{ carga_academica.fk_docente_asignado.primer_nombre }} {{ carga_academica.fk_docente_asignado.primer_apellido }}{% if carga_academica.fk_docente_asignado.segundo_apellido %} {{ carga_academica.fk_docente_asignado.segundo_apellido }}{% endif %}
                                                    </td>
                                                    <td>
                                                        {{ carga_academica.fk_docente_asignado.fk_tipo_documento.tipo_documento }} - {{ carga_academica.fk_docente_asignado.numero_documento|miles_co }}
                                                    </td>
                                                    <td>
                                                        {{ carga_academica.fk_docente_asignado|dedicacion_docente }}
                                                    </td>
                                                    <td>
                                                        {{ carga_academica.fk_materia.creditos }}
                                                    </td>
                                                    <td>
                                                        {{ carga_academica.total_horas }}
                                                    </td>
                                                    <td>
                                                        {% if carga_academica.valor_a_pagar %}
                                                            {{ carga_academica.valor_a_pagar|contabilidad_co }}
                                                        {% else %}
                                                            <span class="fst-italic">No aplica</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-center gap-3">
                                                            <a href="#" class="btn btn-sm btn-alterno-red d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#editarCargaAcademicaModal" data-id="{{ carga_academica.id }}" data-tipo="carga_academica">
                                                                <i class="bi bi-pencil-square"></i>
                                                            </a>
                                                            <a href="#" class="btn btn-sm btn-alterno-dark d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#eliminarCargaAcademicaModal" data-id="{{ carga_academica.id }}" data-tipo="carga_academica">
                                                                <i class="bi bi-trash"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                                <tfoot>
                                    <tr class="fs-small">
                                        <td colspan="8" class="text-end fw-bold">Total Semestre:</td>
                                        <td class="text-end">
                                            {{ totales_por_semestre|get_item:semestre.semestre|default_if_none:"0"|contabilidad_co }}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}