{% extends "dashboard.html" %}


{% block title %}Carga Acádemica - SIUC{% endblock %}
{% block container_class %}justify-content-start align-items-start{% endblock %}

{% block content %}
{% load format_extras %}

<div class="container-fluid m-4">
    <!-- Título de la página -->
    <div class="row mb-3">
        <div class=" d-flex col justify-content-center align-items-center">
            <h3 class="fw-bold m-0">Aprobación de Carga Acádemica</h3>
        </div>
    </div>
    <div class="row mb-4 d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <label for="filtroPrograma" class="form-label">Programa</label>
            <select id="filtroPrograma" class="form-select">
                <option value="">Seleccione</option>
                {% for programa in programas_list %}
                    <option value="{{ programa.id }}" data-num-semestres="{{ programa.numero_semestres }}">{{ programa.programa }} - {{ programa.sede }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="filtroSemestre" class="form-label">Semestre</label>
            <select id="filtroSemestre" class="form-select">
                <option value="">Seleccione</option>
                <!-- Opciones se llenan por JS -->
            </select>
        </div>
    </div>
    <div class="row mt-2 px-3">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover mb-0 align-middle">
                    <thead class="align-middle text-warp">
                        <tr>
                            <th class="col-2" scope="col">Materia</th>
                            <th class="col-1" scope="col">Compartida con <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="El programa resaltado hace referencia al programa que crea la carga académica"></i></th>
                            <th class="col-2" scope="col">Docente</th>
                            <th scope="col">Documento</th>
                            <th class="col-1" scope="col">Dedicación</th>
                            <th class="col-1" scope="col">Créditos</th>
                            <th class="col-1" scope="col">Horas Totales</th>
                            <th class="col-1" scope="col">Valor a Pagar</th>
                            <th class="col-1" scope="col">
                                <label for="aprobarTodosVicerrectoria" class="form-check-label fs-small">Aprobar todos</label>
                                <input type="checkbox" id="aprobarTodosVicerrectoria" class="form-check-input fs-small" data-rol="vicerrectoria">
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tablaCargasBody">
                        <tr>
                            <td colspan="9" class="text-center">Seleccione filtros para ver las cargas académicas</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="fs-small">
                            <td colspan="8" class="text-end fw-bold">Total Semestre:</td>
                            <td class="text-end" id="totalSemestre">$ 0</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filtroPrograma = document.getElementById("filtroPrograma");
        const filtroSemestre = document.getElementById("filtroSemestre");
        const tablaBody = document.getElementById("tablaCargasBody");
        const totalSemestre = document.getElementById("totalSemestre");

        function actualizarSemestres() {
            filtroSemestre.innerHTML = '<option value="">Seleccione</option>';
            const selectedOption = filtroPrograma.options[filtroPrograma.selectedIndex];
            const numSemestres = selectedOption ? selectedOption.getAttribute('data-num-semestres') : null;
            if (numSemestres) {
                for (let i = 1; i <= parseInt(numSemestres); i++) {
                    filtroSemestre.innerHTML += `<option value="${i}">${i} Semestre</option>`;
                }
            }
        }

        function mostrarMensajePorDefecto() {
            tablaBody.innerHTML = `<tr><td colspan="9" class="text-center">Seleccione filtros para ver las cargas académicas</td></tr>`;
            totalSemestre.textContent = "$ 0";
        }

        filtroPrograma.addEventListener("change", () => {
            actualizarSemestres();
            mostrarMensajePorDefecto();
        });

        filtroSemestre.addEventListener("change", () => {
            if (filtroPrograma.value && filtroSemestre.value) {
                cargarCargas();
            } else {
                mostrarMensajePorDefecto();
            }
        });

        function resetCheckbox(id) {
            const check = document.getElementById(id);
            if (check) {
                check.disabled = true;
                check.checked = false;
            }
        }

        function cargarCargas() {
            const programaId = filtroPrograma.value;
            const semestreId = filtroSemestre.value;
            if (!programaId || !semestreId) {
                mostrarMensajePorDefecto();
                resetCheckbox("aprobarTodosVicerrectoria")
                return;
            }
            fetch(`/siuc/dashboard/carga_academica/aprobaciones/filtrar_cargas_academicas/?programa=${programaId}&semestre=${semestreId}`, {
                headers: { 'X-Requested-With': 'XMLHttpRequest' }
            })
            .then(response => response.json())
            .then(data => {
                tablaBody.innerHTML = "";
                if (!data.cargas || data.cargas.length === 0) {
                    tablaBody.innerHTML = `<tr><td colspan="9" class="text-center">No hay cargas académicas para los filtros seleccionados.</td></tr>`;
                    resetCheckbox("aprobarTodosVicerrectoria")
                    totalSemestre.textContent = "$ 0";
                    return;
                }

                let desaprobadasVicerrectoria = 0;

                data.cargas.forEach(carga => {
                    if (!carga.aprobada_vicerrectoria) desaprobadasVicerrectoria++;

                    let compartidaHtml = "";
                    if (carga.materia_compartida) {
                        carga.compartida_con.forEach(programa => {
                            compartidaHtml += `<span class="badge ${programa === carga.programa_madre ? 'bg-programa-madre' : 'bg-programa'} me-1">${programa}</span>`;
                        });
                    } else {
                        compartidaHtml = `<span class="fst-italic">No aplica</span>`;
                    }

                    tablaBody.innerHTML += `
                        <tr class="text-center fs-small">
                            <td>${carga.materia}</td>
                            <td>${compartidaHtml}</td>
                            <td>${carga.docente}</td>
                            <td>${carga.documento}</td>
                            <td>${carga.dedicacion}</td>
                            <td>${carga.creditos}</td>
                            <td>${carga.horas_totales}</td>
                            <td>${carga.valor_a_pagar}</td>
                            <td>
                                <input type="checkbox" class="form-check-input aprobar-carga-vicerrector" data-carga-id="${carga.id}" ${carga.aprobada_vicerrectoria ? 'checked' : ''}>
                            </td>
                        </tr>
                    `;
                });

                totalSemestre.textContent = data.valor_total ? data.valor_total.toLocaleString('es-CO') : "$ 0";

                const checkVicer = document.getElementById("aprobarTodosVicerrectoria");
                if (checkVicer) {
                    checkVicer.disabled = desaprobadasVicerrectoria === 0;
                    if (desaprobadasVicerrectoria === 0) checkVicer.checked = false;
                }
            });
        }

        // Aprobaciones individuales
        tablaBody.addEventListener("change", function (e) {
            if (e.target.classList.contains("aprobar-carga-vicerrector")) {
                const cargaId = e.target.getAttribute("data-carga-id");
                const aprobada = e.target.checked;

                fetch(`/siuc/dashboard/carga_academica/aprobaciones/aprobar_carga_academica_vicerrectoria/`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": getCookie("csrftoken"),
                        "X-Requested-With": "XMLHttpRequest"
                    },
                    body: JSON.stringify({ carga_id: cargaId, aprobada })
                })
                .then(response => response.json())
                .then(data => {
                    showAlert(data.message, data.status === "success" ? "success" : "error");
                    cargarCargas();
                });
            }
        });

        // Evento para "Aprobar todos" con modal compartido
        const checkAprobacionMasiva = document.getElementById("aprobarTodosVicerrectoria");
        if (checkAprobacionMasiva) {
            checkAprobacionMasiva.addEventListener("change", function (e) {
                if (e.target.checked) {
                    const modal = new bootstrap.Modal(document.getElementById('modalConfirmarAprobarTodos'));
                    modal.show();

                    document.getElementById('modalConfirmarAprobarTodos').addEventListener('hidden.bs.modal', function () {
                        checkAprobacionMasiva.checked = false;
                    }, { once: true });
                }
            });
        }

        // Confirmar aprobación masiva
        document.getElementById("confirmarAprobarTodosBtn").addEventListener("click", function () {
            const programaId = filtroPrograma.value;
            const semestreId = filtroSemestre.value;

            fetch('/siuc/dashboard/carga_academica/aprobaciones/aprobar_cargas_academicas_vicerrectoria/', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"),
                    "X-Requested-With": "XMLHttpRequest"
                },
                body: JSON.stringify({ programa_id: programaId, semestre_id: semestreId })
            })
            .then(response => response.json())
            .then(data => {
                showAlert(data.message, data.status === "success" ? "success" : "error");
                cargarCargas();
                const modal = bootstrap.Modal.getInstance(document.getElementById('modalConfirmarAprobarTodos'));
                modal.hide();

                checkAprobacionMasiva.checked = false;
            });
        });

        actualizarSemestres();
        mostrarMensajePorDefecto();
    });
</script>
{% endblock %}