{% extends "dashboard.html" %}

{% block title %}Consulta Contabilidad - SIUC{% endblock %}
{% block container_class %}justify-content-start align-items-start{% endblock %}

{% block content %}
<div class="container-fluid m-4">
    <h3 class="mb-3 d-flex justify-content-center align-items-center fw-bold">Consulta Contabilidad</h3>

    <!-- Periodo en curso -->
    <div class="row mb-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex col-12 justify-content-between align-items-center gap-5">
                {% if periodo_actual %}
                    <h5 id="periodoVigente" class="m-0"><span class="fw-bold m-0">Periodo Vigente:</span> {{ periodo_actual.year }}-{{ periodo_actual.periodo }}</h5>
                {% else %}
                    <h5 id="periodoVigente">No hay un periodo vigente en este momento.</h5>
                {% endif %}
                <div class="d-flex col-md-auto mb-2 gap-3">
                    <label for="fk_programa_cont" class="form-label col-auto mb-0">Seleccione un programa <span class='fw-bold fs-4'>*</span></label>
                    <select class="form-select" id="fk_programa_cont" name="fk_programa_cont" required>
                        <option value="" {% if not usuario.fk_rol %}selected{% endif %}>Seleccione</option>
                        {% for programa in programa_list %}
                            <option value="{{ programa.id }}" {% if usuario.fk_rol.id == rol.id %}selected{% endif %}>
                                {{ programa.codigo_snies }} - {{ programa.programa }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="table-responsive overflow-x-auto">
            <table class="table table-striped table-hover mb-0 align-middle">
                <thead>
                    <tr>
                        <th colspan="4" class="col-5" scope="col">Información del Docente</th>
                        <th class="col-1" scope="col">Valor Hora</th>
                        <th class="col-1" scope="col">Valor Contrato</th>
                        <th colspan="4">Pago por Mes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>Willian Ricardo Insignares Conde</td>
                        <td>Profesional</td>
                        <td>CC  - 1045680563</td>
                        <td>HC</td>
                        <td>40000</td>
                        <td>2000000</td>
                        <td>
                            <div style="overflow-x: auto; width: 630px;"> <!-- Contenedor con scroll -->
                                <table>
                                    <tr>
                                        <td class="px-3">Enero</td> <!-- Espaciado horizontal -->
                                        <td class="px-3">Febrero</td>
                                        <td class="px-3">Marzo</td>
                                        <td class="px-3">Abril</td>
                                        <td class="px-3">Mayo</td>
                                        <td class="px-3">Junio</td>
                                        <td class="px-3">Julio</td>
                                        <td class="px-3">Agosto</td>
                                        <td class="px-3">Septiembre</td>
                                        <td class="px-3">Octubre</td>
                                        <td class="px-3">Noviembre</td>
                                        <td class="px-3">Diciembre</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</div>
{% endblock %}