{% extends "dashboard.html" %}

{% block title %}Funciones Sustantivas - SIUC{% endblock %}
{% block container_class %}justify-content-start align-items-start{% endblock %}

{% block content %}
<div class="container-fluid m-4">
    <div class="row mb-3">
        <div class="d-flex col justify-content-between align-items-center">
            <h3 class="fw-bold m-0">Funciones Sustantivas</h3>
            <ul class="d-flex gap-lg-5 mb-0 list-unstyled fs-color-li">
                <li><strong>DO</strong> = Docencia</li>
                <li><strong>AD</strong> = Administrativa</li>
                <li><strong>IN</strong> = Investigación</li>
                <li><strong>PYE</strong> = Proyección y Extensión</li>
            </ul>
        </div>
    </div>

    <!-- Periodo en curso -->
    <div class="row mb-3">
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex col justify-content-between justify-middle align-items-center">
                {% if periodo_actual %}
                    <h5 id="periodoVigente" class="m-0"><span class="fw-bold m-0">Periodo Vigente:</span> {{ periodo_actual.year }}-{{ periodo_actual.periodo }}</h5>
                {% else %}
                    <h5 id="periodoVigente">No hay un periodo vigente en este momento.</h5>
                {% endif %}
                <h6 id="programaMatriz" class="m-0"><span class="fw-bold m-0">Programa:</span> {{ usuario_log.auth_user.first_name }}</h6>
            </div>
        </div>
    </div>

    {% comment %} <!-- Periodo en curso -->
    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <ul class="d-flex gap-lg-5 mb-0 list-unstyled">
                <li><strong>DO</strong> = Docencia</li>
                <li><strong>AD</strong> = Administrativa</li>
                <li><strong>IN</strong> = Investigación</li>
                <li><strong>PYE</strong> = Proyección y Extensión</li>
            </ul>
        </div>
    </div> {% endcomment %}

    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover mb-0 align-middle">
                <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Nivel de Formación</th>
                        <th>Documento de Identidad</th>
                        <th>Dedicación</th>
                        <th colspan="2">DO</th>
                        <th colspan="2">AD</th>
                        <th colspan="2">IN</th>
                        <th colspan="2">PyE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>Nombre Completo</td>
                        <td>Nivel de Formación</td>
                        <td>Tipo de Documento</td>
                        <td>Dedicación</td>
                        <td>DO</td>
                        <td>%DO%</td>
                        <td>AD</td>
                        <td>%AD%</td>
                        <td>IN</td>
                        <td>%IN%</td>
                        <td>PyE</td>
                        <td>%PyE%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</div>
{% endblock %}