<div>
    <div class="d-flex flex-column align-items-center justify-content-center p-0">
        <i class="bi bi-person-circle p-0"></i>
        <div class="d-flex flex-column align-items-center justify-content-center text-center">
            {% if usuario_log %}
                <p class="mb-0" id="nombre-usuario">{{ usuario_log.primer_nombre }} {{ usuario_log.primer_apellido }}</p>
            {% else %}
                <p class="mb-0" id="nombre-usuario">Usuario desconocido</p>
            {% endif %}
            <p class="fst-italic text-center" id="email-usuario">{{ usuario_log.cargo }}</p>
        </div>
    </div>
    <hr class="w-100 m-1">
    <ul class="nav flex-column">
        <!-- Opción visible para todos los grupos -->
        <li class="nav-item mb-2">
            <a href="{% url 'dashboard' %}" class="d-flex gap-2 nav-link">
                <i class="bi bi-house-door-fill"></i></i>Inicio
            </a>
        </li>

        <!-- Opciones específicas según el grupo -->

        {% if "Director de Programa" in user_groups %}
        <li class="nav-item mb-2">
            <a href="{% url 'gestion_matriz' %}" class="lh-sm d-flex gap-2 nav-link align-items-center">
                <i class="bi bi-file-earmark-fill"></i></i>Matriz
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="{% url 'gestion_carga_academica' %}" class="lh-sm d-flex gap-2 nav-link align-items-center">
                <i class="bi bi-file-earmark-medical-fill"></i>Carga Acádemica
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="{% url 'gestion_contratos' %}" class="d-flex gap-2 nav-link">
                <i class="bi bi-people-fill"></i></i>Funciones Sustantivas
            </a>
        </li>
        {% endif %}
        
        {% if "Director Talento Humano" in user_groups %}
        <li class="nav-item mb-2">
            <a href="{% url 'gestion_aspirantes' %}" class="d-flex gap-2 nav-link">
                <i class="bi bi-person-fill-add"></i></i></i>Aspirantes
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="{% url 'gestion_empleados' %}" class="d-flex gap-2 nav-link">
                <i class="bi bi-people-fill"></i></i>Empleados
            </a>
        </li>
        {% endif %}

        <!-- Rol Contabilidad -->
        {% if "Contabilidad" in user_groups %}
        <li class="nav-item mb-2">
            <a href="{% url 'gestion_docentes' %}" class="d-flex gap-2 nav-link">
                <i class="bi bi-person-video3"></i> Docentes
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="{% url 'gestion_administrativos' %}" class="d-flex gap-2 nav-link">
                <i class="bi bi-briefcase-fill"></i> Administrativos
            </a>
        </li>
        
        
        {% endif %}


    
        {% if "Secretaria Talento Humano" in user_groups %}
        <li class="nav-item mb-2">
            <a href="{% url 'gestion_aspirantes' %}" class="d-flex gap-2 nav-link">
                <i class="bi bi-person-fill-add"></i></i></i>Aspirantes
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="{% url 'gestion_empleados' %}" class="d-flex gap-2 nav-link">
                <i class="bi bi-people-fill"></i></i>Empleados
            </a>
        </li>
        {% endif %}

        <!-- Opción visible para todos los grupos -->
        <li class="nav-item mb-2 d-none">
            <a href="{% url 'reportes' %}" class="d-flex gap-2 nav-link">
                <i class="bi bi-clipboard-data-fill"></i></i>Reportes
            </a>
        </li>
    </ul>
</div>
<div class="mt-auto">
    <hr class="w-100">
    <a href="{% url 'cerrar_sesion' %}" class="logout d-flex justify-content-center gap-2 text-decoration-none">
        <i class="bi bi-box-arrow-left"></i> Cerrar sesión
    </a>
</div>
