{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1>Estudiantes Matriculados en {{ materia.materia }}</h1>
    {% if estudiantes %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                    <tr>
                        <td>{{ estudiante.numero_documento }}</td>
                        <td>{{ estudiante.nombre_completo }}</td>
                        <td>
                            <form method="post" class="d-inline">
                                {% csrf_token %}
                                <input type="hidden" name="estudiante_id" value="{{ estudiante.id }}">
                                <div class="row align-items-right">
                                    <div class="col-auto offset-2" >
                                        <select name="estado" class="form-select ms-5" style="width: 250px;"  required>
                                            <option disabled selected> Elige una opcion</option>
                                            <option value="aprobada">Aprobada</option>
                                            <option value="reprobada">Reprobada</option>
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay estudiantes matriculados en esta materia.</p>
    {% endif %}
    <a href="{% url 'materias_por_programa_semestre' %}" class="btn btn-secondary mt-3">Volver</a>
</div>
{% endblock %}