{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ tipo_evaluacion|title }} - Docente</title>
    <style>
        body { font-family: Arial, sans-serif;}
        table { width: 100%; border-collapse: collapse; margin-bottom: 30px; border: .5px solid #000; }
        th, td { 
            text-align: center; 
            padding: 4px;
            line-height: 1;
            font-weight: normal;
        }
        h1 { background-color: #eaeaea; margin-bottom: 0; padding: 8px; border: 1px solid #000;line-height: 0;}
        h2, h3 { margin-bottom: 0;}
        @page {
            size: A4 landscape;
            margin: 1cm;
        }
    </style>
</head>
<body>

    <!-- Reporte evaluacion de estudiantes a docentes por materia -->
    {% for carga in cargas %}
    <div {% if not forloop.first %}style="page-break-before: always;"{% endif %}>
        <table style="width: 100%; margin-bottom: 0px; border: none;">
            <tr>
                <td style="text-align: center; width: 40%;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTho4ZLfx7ppk-LKdQ4z8XklUrhTaBcoj8G3w&s" 
                        style="width: 300px; height: auto;">
                </td>
                <td style="text-align: center;">
                    <h2>CORPORACIÓN UNIVERSITARIA DE CIENCIAS EMPRESARIALES, EDUCACIÓN Y SALUD</h2>
                    
                    <h3>{{ tipo_evaluacion }} - DOCENTE<br><br>{{ carga.fk_programa }}<br><br>PERIODO ACADÉMICO: {{ periodo.year }} - {{ periodo.periodo }}</h3>
            
                    <p style="text-align: center;"><strong>ASIGNATURA:</strong> {{ carga.fk_materia.materia }} &nbsp; <strong>DOCENTE:</strong> {{ carga.fk_docente_asignado }}</p>
                    <!-- <p><strong>Población Esperada:</strong> 100 &nbsp;
                    <strong>Población Encuestada:</strong> 20 &nbsp;
                    <strong>Población Faltante:</strong> 80</p>
                    <p>{{ carga.fk_docente_asignado.id }}</p> -->

                </td>
            </tr>
        </table>

        {% for categoria in categorias_estudiante %}
        <table>
            <h1>{{ categoria.nombre }}</h1>
            <thead>
                <tr>
                    <th>Indicadores</th>
                    <th>1 - Totalmente en desacuerdo</th>
                    <th>2 - Medianamente en desacuerdo</th>
                    <th>3 - Medianamente de acuerdo</th>
                    <th>4 - De acuerdo</th>
                    <th>5 - Totalmente de acuerdo</th>
                    <th>VALOR PROMEDIO</th>
                </tr>
            </thead>
            <tbody>
            {% for pregunta in categoria.preguntas.all %}
                <tr>
                    <td style="text-align: left; width: 40%;">{{ pregunta.texto }}</td>
                    {% for valor in valores_escala %}
                        <td>
                            {{ frecuencias_relativas|dict_get:carga.fk_materia.id|dict_get:pregunta.id|dict_get:valor|default:"0" }}
                        </td>
                    {% endfor %}
                    <td>
                        {{ promedios_preguntas_por_materia|get_item:carga.fk_materia.id|get_item:pregunta.id|default:"-" }}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="6" style="text-align: right; "><strong>Promedio por Factor :</strong></td>
                    <td><strong>{{ promedios_categoria_por_materia|get_item:carga.fk_materia.id|get_item:categoria.id|default:"-" }}</strong></td>
                </tr>
            </tbody>
        </table>
        {% endfor %}

    </div>
    <footer>
                
        <p><strong>Asignatura:</strong> {{ carga.fk_materia }}  &nbsp; &nbsp;
            <strong>Docente:</strong> {{ carga.fk_docente_asignado }}  &nbsp; &nbsp;
            <strong>Emisión Reporte:</strong> {% now "d/m/Y H:i" %}    &nbsp; &nbsp;
        </p>         
        <h1>PROMEDIO GENERAL: {{ materia_promedios|get_item:carga.fk_materia.materia|default:"-" }} </h1>
        
        
    </footer>
    {% endfor %}

    <!-- Reporte evaluacion de directivos a docentes por docentes y autoevaluacion -->

    {% for docente in docentes %}
    <div {% if not forloop.first %}style="page-break-before: always;"{% endif %}>
        <div>
            <table style="width: 100%; margin-bottom: 0px; border: none;">
                <tr>
                    <td style="text-align: center; width: 40%;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTho4ZLfx7ppk-LKdQ4z8XklUrhTaBcoj8G3w&s" 
                            style="width: 300px; height: auto;">
                    </td>
                    <td style="text-align: center;">
                        <h2>CORPORACIÓN UNIVERSITARIA DE CIENCIAS EMPRESARIALES, EDUCACIÓN Y SALUD</h2>
                        <h3>{{ tipo_evaluacion }} - DOCENTE<br><br>{{ programa }}<br><br>PERIODO ACADÉMICO: {{ periodo.year }} - {{ periodo.periodo }}</h3>
                
                        <p><strong>Docente:</strong> {{ docente|upper }}</p>
                        <!-- <p><strong>Población Esperada:</strong> 100 &nbsp;
                        <strong>Población Encuestada:</strong> 20 &nbsp;
                        <strong>Población Faltante:</strong> 80</p>
                        <p>{{ docente.id }}</p> -->

                    </td>
                </tr>
            </table>
        </div>

        
        {% for categoria in categorias_directivo %}
        <table>
            <h1>{{ categoria.nombre }}</h1>
            <thead>
                <tr>
                    <th>Indicadores</th>
                    <th>1 - Totalmente en desacuerdo</th>
                    <th>2 - Medianamente en desacuerdo</th>
                    <th>3 - Medianamente de acuerdo</th>
                    <th>4 - De acuerdo</th>
                    <th>5 - Totalmente de acuerdo</th>
                    <th>VALOR PROMEDIO</th>
                </tr>
            </thead>
            <tbody>
            {% for pregunta in categoria.preguntas.all %}
                <tr>
                    <td style="text-align: left; width: 40%;">{{ pregunta.texto }}</td>
                    {% for valor in valores_escala %}
                        <td>
                            {{ frecuencias_relativas|dict_get:docente|dict_get:pregunta.id|dict_get:valor|default:"0" }}
                        </td>
                    {% endfor %}
                    <td>
                        {{ promedios_preguntas_por_docente|get_item:docente|get_item:pregunta.id|default:"-" }}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="6" style="text-align: right; "><strong>Promedio por Factor :</strong></td>
                    <td><strong>{{ promedios_categoria_por_docente|get_item:docente.id|get_item:categoria.id|default:"-" }}</strong></td>
                </tr>
            </tbody>
        </table>
        {% endfor %}

    </div>
    <footer>
                
        <p>
            <strong>Docente:</strong> {{ docente|upper }}  &nbsp; &nbsp;
            <strong>Emisión Reporte:</strong> {% now "d/m/Y H:i" %}    &nbsp; &nbsp;
        </p>         
        <h1>PROMEDIO GENERAL: {{ docentes_promedios|get_item:docente.numero_documento|default:"-"}} </h1>
        
        
    </footer>
    {% endfor %}

   

    
</body>
</html>
