/* Estilos para PDF */
@page {
    size: A4;
    margin: 2cm;
    font-family: 'Times New Roman', Times, serif;

    @top-center {
        content: element(header);
    }

    @bottom-left {
        content: element(footer);
    }

    @bottom-right {
        content: "Página " counter(page) " de " counter(pages);
        font-size: var(--fs-5);
    }
}

@page :first {
    margin: 1cm 2cm 3cm 2cm;
}

:root {
    --fs-1: 1.4rem;
    --fs-2: 1.2rem;
    --fs-3: 1rem;
    --fs-3-medium: 0.9rem;
    --fs-4: 0.8rem;
    --fs-4-medium: 0.7rem;
    --fs-5: 0.6rem;
    --color-red: #ec5464;
}

/* Pie de página */
#pdfFooter {
    position: running(footer);
    font-size: var(--fs-5);
    text-align: left;
    padding: 0.3rem 0;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
}

header {
    text-align: center;
}

header img {
    max-width: 50%;
    height: auto;
    margin: 0;
}

header h4 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 0;
}

main p {
    font-size: var(--fs-4);
    text-align: justify;
}

table ol {
    padding-left: 1rem; /* o el valor que necesites */
    margin: 0;
    text-align: left;
    list-style-position: outside;
}

/* Estilos para la tabla infoDocente */
#infoDocente {
    width: 90%;
    max-width: 90%;
    border-collapse: collapse;
    font-size: var(--fs-4-medium);
    page-break-inside: avoid;
    margin: 1rem auto; /* Centrado horizontal con margen */
}

#infoDocente td {
    border: 1px solid #000;
    padding: 0.3rem 0.5rem;
    vertical-align: center;
}

/* Primera columna (títulos) */
#infoDocente td:first-child {
    width: 40%;
}

/* Segunda columna (valores) */
#infoDocente td:last-child {
    width: 60%;
    justify-content: center;
}

.vigencia-contrato span, .total-salario-mensual span {
    display: block;
}

#vencimientoContrato {
    font-size: var(--fs-3-medium);
    text-align: justify;
}

/* Estilos para la tabla infoCargasAcademicas */
#infoCargasAcademicas {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: var(--fs-5);
    page-break-inside: avoid;
    margin: 1rem auto; /* Centrado horizontal con margen */
}

div h5 {
    text-align: center;
    margin: 0 auto;
}

#infoCargasAcademicas th {
    border: 1px solid #000;
    padding: 0.3rem 0.5rem;
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    font-size: var(--fs-4-medium);
}

#infoCargasAcademicas td {
    text-align: center;
    border: 1px solid #000;
    padding: 0.3rem 0.5rem;
}

#infoCargasAcademicas td:first-child {
    text-align: start;
}

#infoCargasAcademicas tfoot td:first-child {
    text-align: end;
}

#infoCargasAcademicas tfoot td {
    border: none;
    text-align: center;
}

#infoCargasAcademicas tbody tr:nth-child(even) {
    background-color: #fafafa;
}

/* Estilos para el bloque de firmas */
.firmas {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    font-size: var(--fs-4);
    text-align: center;
}

.firma-representante,
.firma-docente {
    width: 45%;
    border-top: 0.05rem solid #000;
    padding-top: 0.4rem;
}

.firma-representante p,
.firma-docente p {
    margin: 0;
    line-height: 1.2;
}

.firma-presidente {
    width: 45%;
    margin-top: 5rem;
    border-top: 0.05rem solid #000;
    font-size: var(--fs-3-medium);
}

/* Estilos predefinidos */
.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.fst-italic {
    font-style: italic;
}

.fw-bold {
    font-weight: bold;
}

.page-break {
    page-break-before: always;
}

.text-color-red {
    color: var(--color-red);
}

.col-auto{flex:0 0 auto;width:auto}.col-1{flex:0 0 auto;width:8.33333333%}.col-2{flex:0 0 auto;width:16.66666667%}.col-3{flex:0 0 auto;width:25%}.col-4{flex:0 0 auto;width:33.33333333%}.col-5{flex:0 0 auto;width:41.66666667%}.col-6{flex:0 0 auto;width:50%}.col-7{flex:0 0 auto;width:58.33333333%}.col-8{flex:0 0 auto;width:66.66666667%}.col-9{flex:0 0 auto;width:75%}.col-10{flex:0 0 auto;width:83.33333333%}.col-11{flex:0 0 auto;width:91.66666667%}.col-12{flex:0 0 auto;width:100%}