<div class="container">
    <!-- Información Personal -->
    <div class="card shadow-sm mb-4">
        <div class="card-header  d-flex justify-content-between align-items-center">
            <div class="d-flex gap-3 fs-5 fw-bold">
                <i class="bi bi-person-vcard"></i> Información Personal
            </div>
            <!-- Descargar CV Institucional (Habilitar más adelante quitando el d-none) -->
            <a href="#" id="descargarCVInstitucional" class="d-flex gap-2 text-decoration-none d-flex justify-content-center align-items-center d-none" aria-disabled="true">
                <i class="bi bi-download fs-5"></i> Descargar CV Institucional
            </a>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-md-3 mb-2"><i class="bi bi-person"></i> Nombre Completo:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.primer_nombre }}{% if usuario.segundo_nombre %} {{ usuario.segundo_nombre }}{% endif %} {{ usuario.primer_apellido }}{% if usuario.segundo_apellido %} {{ usuario.segundo_apellido }}{% endif %}</dd>

                <dt class="col-md-3 mb-2"><i class="bi bi-person-badge"></i> Rol:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.fk_rol.rol }} - {{ usuario.fk_rol.descripcion }}</dd>

                <dt class="col-md-3 mb-2"><i class="bi bi-briefcase"></i> Cargo:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.cargo }}</dd>

                <dt class="col-md-3 mb-2"><i class="bi bi-file-earmark-text"></i> Número de Documento:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.numero_documento }}</dd>

                <dt class="col-md-3 mb-2"><i class="bi bi-calendar"></i> Fecha de Nacimiento:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.fecha_nacimiento }}</dd>

                <dt class="col-md-3 mb-2"><i class="bi bi-envelope"></i> Correo personal:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.correo_personal }}</dd>

                <dt class="col-md-3 mb-2"><i class="bi bi-phone"></i> Celular:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.celular }}</dd>

                <dt class="col-md-3 mb-2"><i class="bi bi-house"></i> Dirección:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.direccion_residencia }}</dd>

                <!-- Campos adicionales -->
                <dt class="col-md-3 mb-2"><i class="bi bi-heart"></i> Estado Civil:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.estado_civil }}</dd>

                <dt class="col-md-3 mb-2"><i class="bi bi-mortarboard"></i> Último Nivel de Estudio:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.ultimo_nivel_estudio }}</dd>

                <dt class="col-md-3 mb-2"><i class="bi bi-hospital"></i> EPS:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.fk_eps.nombre }}</dd>

                <dt class="col-md-3 mb-2"><i class="bi bi-bank"></i> AFP:</dt>
                <dd class="col-md-9 mb-2 text-uppercase">{{ usuario.afp }}</dd>
            </dl>
        </div>
    </div>

        <!-- Información del Contrato -->
    {% if usuario.estado_revision == "Contratado" %}
        <div class="card shadow-sm mb-4">
            <div class="card-header d-flex gap-3 fs-5 fw-bold">
                <i class="bi bi-file-earmark-text"></i> Información del Contrato
            </div>
            <div class="card-body">
                {% if not usuario.contrato.all %}
                    <p class="text-center mb-2">No se ha encontrado información relacionada</dd>
                {% else %}
                    {% for contrato in usuario.contrato.all %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-md-3 mb-2"><i class="bi bi-calendar"></i> Fecha Inicio:</dt>
                                    <dd class="col-md-9 mb-2 text-uppercase">{{ contrato.fecha_inicio }}</dd>

                                    <dt class="col-md-3 mb-2"><i class="bi bi-calendar"></i> Fecha Fin:</dt>
                                    <dd class="col-md-9 mb-2 text-uppercase">{{ contrato.fecha_fin }}</dd>

                                    <dt class="col-md-3 mb-2"><i class="bi bi-file-earmark-text"></i> Tipo de Contrato:</dt>
                                    <dd class="col-md-9 mb-2 text-uppercase">{{ contrato.tipo_contrato }}</dd>

                                    <dt class="col-md-3 mb-2"><i class="bi bi-file-earmark-text"></i> Valor Contrato:</dt>
                                    <dd class="col-md-9 mb-2 text-uppercase">{{ contrato.valor_contrato }}</dd>
                                </dl>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    

    <!-- Detalles Académicos -->
    <div class="card shadow-sm mb-4">
        <div class="card-header d-flex gap-3 fs-5 fw-bold">
            <i class="bi bi-mortarboard"></i> Detalles Académicos
        </div>
        <div class="card-body">
            {% if not detalles_academicos %}
                <p class="text-center mb-2">No se ha encontrado información relacionada</dd>
            {% else %}
                {% for detalle in detalles_academicos %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-md-3 mb-2"><i class="bi bi-building"></i> Institución:</dt> 
                                <dd class="col-md-9 mb-2 text-uppercase">{{ detalle.institucion }}</dd>

                                <dt class="col-md-3 mb-2"><i class="bi bi-award"></i> Título:</dt>
                                <dd class="col-md-9 mb-2 text-uppercase">{{ detalle.titulo_obtenido }}</dd>

                                <dt class="col-md-3 mb-2"><i class="bi bi-book"></i> Nivel Académico:</dt>
                                <dd class="col-md-9 mb-2 text-uppercase">{{ detalle.nivel_academico.nombre }}</dd>

                                <dt class="col-md-3 mb-2"><i class="bi bi-calendar-check"></i> Fecha de Graduación:</dt>
                                <dd class="col-md-9 mb-2 text-uppercase">{{ detalle.fecha_graduacion }}</dd>
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Experiencia Laboral -->
    <div class="card shadow-sm mb-4">
        <div class="card-header  d-flex gap-3 fs-5 fw-bold">
            <i class="bi bi-briefcase"></i> Experiencia Laboral
        </div>
        <div class="card-body">
            {% if not detalles_laborales %}
                <p class="text-center mb-2">No se ha encontrado información relacionada</dd>
            {% else %}
                {% for experiencia in detalles_laborales %}
                    <div class="card mb-3">
                        <div class="card-body">
                                <dl class="row">
                                <dt class="col-md-3 mb-2"><i class="bi bi-building"></i> Empresa:</dt>
                                <dd class="col-md-9 mb-2 text-uppercase">{{ experiencia.empresa }}</dd>

                                <dt class="col-md-3 mb-2"><i class="bi bi-person-lines-fill"></i> Cargo:</dt>
                                <dd class="col-md-9 mb-2 text-uppercase">{{ experiencia.cargo }}</dd>

                                <dt class="col-md-3 mb-2"><i class="bi bi-calendar-range"></i> Fecha Inicio:</dt>
                                <dd class="col-md-9 mb-2 text-uppercase">{{ experiencia.fecha_inicio }}</dd>

                                <dt class="col-md-3 mb-2"><i class="bi bi-calendar-range"></i> Fecha Fin:</dt>
                                <dd class="col-md-9 mb-2 text-uppercase">{{ experiencia.fecha_fin }}</dd>
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>