<div>
    <h5>Información Personal</h5>
    <p>Nombre Completo: {{ usuario.primer_nombre }} {{ usuario.segundo_nombre }} {{ usuario.primer_apellido }} {{ usuario.segundo_apellido }}</p>
    <p>Cargo: {{ usuario.cargo }}</p>
    <p>Estado: 
        {% if usuario.activo %}
            Activo
        {% else %}
            Inactivo
        {% endif %}
    </p>
    <p>Correo: {{ usuario.correo_personal }}</p>
    <p>Teléfono: {{ usuario.telefono_fijo }} / {{ usuario.celular }}</p>
    <p>Dirección: {{ usuario.direccion_residencia }}, {{ usuario.barrio_residencia }}, {{ usuario.ciudad_residencia }}, {{ usuario.departamento_residencia }}</p>
    <p>EPS: {{ usuario.eps }}</p>
    <p>ARL: {{ usuario.arl }}</p>
    <p>AFP: {{ usuario.afp }}</p>
    <p>Caja de Compensación: {{ usuario.caja_compensacion }}</p>
</div>

