{% load format_extras %}

<div class="container px-3 py-2">
    <!-- Aquí va la Información -->
    <div class="d-flex gap-3 fs-5 fw-bold mb-2">
        <i class="bi bi-person-vcard"></i>Asiganción Mensual
    </div>
    <div class="table-responsive mb-4">
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr class="text-center">
                    <th>Mes</th>
                    <th>Días</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for d in detalles %}
                <tr class="text-center fs-small">
                    <td>{{ d.mes_a_pagar }}</td>
                    <td>{{ d.dias_laborados }}</td>
                    <td>{{ d.valor_a_pagar|contabilidad_co }}</td>
                </tr>
                {% endfor %}
            </tbody>
                <tfoot>
                    <tr class="fs-small">
                        <td colspan="1" class="text-center fw-bold">Total:</td>
                        <td class="text-center">
                            {{ total_dias_laborados }}
                        </td>
                        <td class="text-center">
                            {{ total_asigancion_mensual|contabilidad_co }}
                        </td>
                    </tr>
                </tfoot>
        </table>
    </div>

    <div class="d-flex gap-3 fs-5 fw-bold mb-2">
        <i class="bi bi-person-vcard"></i>Carga Académica Asignada
    </div>
    {% if cargas %}
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Materia</th>
                        <th>Horas Semanales</th>
                        {% if contrato.fk_dedicacion.id == 1 %}
                            <th>Valor a Pagar</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for carga in cargas %}
                        <tr class="text-center fs-small">
                            <td>{{ carga.fk_materia.materia }} ({{ carga.programas_compartidos_str }})</td>
                            <td>{{ carga.horas_semanales }}</td>
                            {% if contrato.fk_dedicacion.id == 1 %}
                                <td>{{ carga.valor_a_pagar|contabilidad_co }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="fs-small">
                        <td colspan="1" class="text-center fw-bold">Total:</td>
                        <td class="text-center">
                            {{ total_horas_semanales }}
                        </td>
                        {% if contrato.fk_dedicacion.id == 1 %}
                            <td class="text-center">
                                {{ total_valor_cargas|contabilidad_co }}
                            </td>
                        {% endif %}
                    </tr>
                </tfoot>
            </table>
        </div>
    {% else %}
        <p class="fst-italic text-muted">Este docente no tiene cargas académicas registradas para este periodo.</p>
    {% endif %}
</div>