<div class="container px-3 py-2">
    <!-- Información Personal -->
    <div class="card shadow-sm mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="d-flex gap-3 fs-5 fw-bold">
                <i class="bi bi-person-vcard"></i> Información Personal
            </div>
            <!-- Descargar CV Institucional (Habilitar más adelante quitando el d-none) -->
            <a href="#" id="descargarCVInstitucional" class="d-flex gap-2 text-decoration-none d-flex justify-content-center align-items-center d-none" aria-disabled="true">
                <i class="bi bi-download fs-5"></i> Descargar CV Institucional
            </a>
        </div>
        <div class="card-body p-3">
            <div class="container">
                <dl class="row m-0">
                    <div class="col-md-6 mb-2">
                        <dt>Nombre Completo:</dt>
                        <dd class="text-uppercase">{{ usuario.primer_nombre }}{% if usuario.segundo_nombre %} {{ usuario.segundo_nombre }}{% endif %} {{ usuario.primer_apellido }}{% if usuario.segundo_apellido %} {{ usuario.segundo_apellido }}{% endif %}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Rol:</dt>
                        <dd class="text-uppercase">{{ usuario.fk_rol.rol }} - {{ usuario.fk_rol.descripcion }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Cargo:</dt>
                        <dd class="text-uppercase">{{ usuario.cargo|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Número de Documento:</dt>
                        <dd class="text-uppercase">{{ usuario.numero_documento|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Fecha de Nacimiento:</dt>
                        <dd class="text-uppercase">{{ usuario.fecha_nacimiento|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Correo personal:</dt>
                        <dd class="text-lowercase">{{ usuario.correo_personal|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Celular:</dt>
                        <dd class="text-uppercase">{{ usuario.celular|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Ciudad de Residencia:</dt>
                        <dd class="text-uppercase">{{ usuario.ciudad_residencia|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Barrio de Residencia:</dt>
                        <dd class="text-uppercase">{{ usuario.barrio_residencia|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Dirección:</dt>
                        <dd class="text-uppercase">{{ usuario.direccion_residencia|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Departamento de Residencia:</dt>
                        <dd class="text-uppercase">{{ usuario.departamento_residencia|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Estado Civil:</dt>
                        <dd class="text-uppercase">{{ usuario.estado_civil|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>Último Nivel de Estudio:</dt>
                        <dd class="text-uppercase">{{ usuario.fk_ultimo_nivel_estudio.nombre|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-2">
                        <dt>EPS:</dt>
                        <dd class="text-uppercase">{{ usuario.fk_eps.nombre|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-0">
                        <dt>AFP:</dt>
                        <dd class="text-uppercase mb-0">{{ usuario.fk_afp.nombre|default:"No disponible" }}</dd>
                    </div>

                    <div class="col-md-6 mb-0">
                        <!-- Información faltante -->
                    </div>
                </dl>
            </div>
        </div>
    </div>

        <!-- Información del Contrato -->
    {% if usuario.estado_revision == "Contratado" %}
    <div class="card shadow-sm mb-4">
        <div class="card-header d-flex gap-3 fs-5 fw-bold">
            <i class="bi bi-file-earmark-text"></i> Información del Contrato
        </div>
        <div class="card-body">
            <div class="container">
                {% if not usuario.contrato.all %}
                <p class="text-center mb-2">No se ha encontrado información relacionada</dd>
                {% else %}
                    {% for contrato in usuario.contrato.all %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-md-3 mb-2">Fecha Inicio:</dt>
                                    <dd class="col-md-9 mb-2 text-uppercase">{{ contrato.fecha_inicio|default:"No disponible" }}</dd>

                                    <dt class="col-md-3 mb-2">Fecha Fin:</dt>
                                    <dd class="col-md-9 mb-2 text-uppercase">{{ contrato.fecha_fin|default:"No disponible" }}</dd>

                                    <dt class="col-md-3 mb-2">Tipo de Contrato:</dt>
                                    <dd class="col-md-9 mb-2 text-uppercase">{{ contrato.tipo_contrato|default:"No disponible" }}</dd>

                                    <dt class="col-md-3 mb-2">Valor Contrato:</dt>
                                    <dd class="col-md-9 mb-2 text-uppercase">{{ contrato.valor_contrato|default:"No disponible" }}</dd>
                                </dl>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Detalles Académicos -->
    <div class="card shadow-sm mb-4">
        <div class="card-header d-flex gap-3 fs-5 fw-bold">
            <i class="bi bi-mortarboard"></i> Detalles Académicos
        </div>
        <div class="card-body py-0">
            {% if not detalles_academicos %}
                <p class="text-center my-3">No se ha encontrado información relacionada</dd>
            {% else %}
                {% for detalle in detalles_academicos %}
                    <div class="card mb-4 mt-4">
                        <div class="card-body">
                            <div class="container">
                                <dl class="row mb-0">
                                    <dt class="col-md-12 text-uppercase">{{ detalle.titulo_obtenido|default:"No disponible" }}</dt>

                                    <dd class="col-md-8 mb-0 text-uppercase fs-small">{{ detalle.institucion|default:"No disponible" }}</dd>

                                    <dd class="col-md-4 mb-0 d-flex justify-content-end align-items-center text-uppercase fs-small">{{ detalle.nivel_academico.nombre|default:"No disponible" }}</dd>

                                    <dt class="col-md-auto text-uppercase fs-small">Fecha de Graduación:</dt>

                                    <dd class="col-md-auto text-uppercase fs-small">{{ detalle.fecha_graduacion|default:"No disponible" }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Experiencia Laboral -->
    <div class="card shadow-sm">
        <div class="card-header d-flex gap-3 fs-5 fw-bold">
            <i class="bi bi-briefcase"></i> Experiencia Laboral
        </div>
        <div class="card-body py-0">
            {% if not detalles_laborales %}
                <p class="text-center my-3">No se ha encontrado información relacionada</dd>
            {% else %}
                {% for experiencia in detalles_laborales %}
                    <div class="card mb-4 mt-4">
                        <div class="card-body">
                            <div class="container">
                                <dl class="row mb-0">
                                    <dt class="col-md-12 text-uppercase">{{ experiencia.cargo|default:"No disponible" }}</dt>
                                    <dd class="col-md-12 mb-0 text-uppercase fs-small">{{ experiencia.empresa|default:"No disponible" }}</dd>

                                    <dt class="col-md-2 fs-small">Fecha Inicio:</dt>
                                    <dd class="col-md-4 mb-0 text-uppercase fs-small">{{ experiencia.fecha_inicio|default:"No disponible" }}</dd>

                                    <dt class="col-md-2 fs-small text-end">Fecha Fin:</dt>
                                    <dd class="col-md-4 mb-0 text-uppercase fs-small text-end">{{ experiencia.fecha_fin|default:"Actualmente" }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>