<form id="formEditarUsuario" method="POST" action="{% url 'actualizar_usuario' tipo=tipo usuario_id=usuario.id %}" data-ajax-submit="true">
    {% csrf_token %}
    <div class="container">
        <div class="container mb-3">
            {% if "Director Talento Humano" in user_groups %}
                <div class="d-flex gap-3 fs-5 fw-bold">
                    <i class="bi bi-clipboard2-check-fill"></i></i> Detalle de Revisión
                </div>

                <div class="row px-3 mb-3">
                    <div class="col-md-12 mb-2">
                        <label for="estado_revision" class="form-label mb-0">Estado de Revisión <span class='fw-bold fs-4'>*</span></label>
                        <select class="form-select" id="estado_revision" name="estado_revision" required>
                            <option value="" {% if not usuario.estado_revision %}selected{% endif %}>Seleccione</option>
                            <option value="Pendiente" {% if usuario.estado_revision == "Pendiente" %}selected{% endif %}>Pendiente</option>
                            <option value="Contratado" {% if usuario.estado_revision == "Contratado" %}selected{% endif %}>Contratado</option>
                            <option value="Rechazado" {% if usuario.estado_revision == "Rechazado" %}selected{% endif %}>Rechazado</option>
                        </select>
                    </div>

                    <!-- Tipo de Contrato -->
                    <div class="col-md-6">
                        <label for="tipo_contrato" class="form-label mb-0">Tipo de Contrato <span class='fw-bold fs-4'>*</span></label>
                        <select class="form-select" id="tipo_contrato" name="tipo_contrato" required>
                            <option value="" {% if not contrato or not contrato.tipo_contrato %}selected{% endif %}>Seleccione</option>
                            {% for tipo in tipos_contrato_list %}
                                <option value="{{ tipo.id }}" {% if contrato and contrato.tipo_contrato == tipo.id %}selected{% endif %}>
                                    {{ tipo.tipo_contrato }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Dedicación -->
                    <div class="col-md-6">
                        <label for="dedicacion" class="form-label mb-0">Dedicación <span class='fw-bold fs-4'>*</span></label>
                        <select class="form-select" id="dedicacion" name="dedicacion" required>
                            <option value="" {% if not contrato or not contrato.dedicacion %}selected{% endif %}>Seleccione</option>
                            <option value="Tiempo Completo - TC" {% if contrato and contrato.dedicacion == "Tiempo Completo - TC" %}selected{% endif %}>Tiempo Completo - TC</option>
                            <option value="Medio Tiempo - MT" {% if contrato and contrato.dedicacion == "Medio Tiempo - MT" %}selected{% endif %}>Medio Tiempo - MT</option>
                            {% if usuario.fk_rol.id == 4 %}
                            <option value="Hora Catedra - HC" {% if contrato and contrato.dedicacion == "Hora Catedra - HC" %}selected{% endif %}>Hora Catedra - HC</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <!-- Campos del Contrato (solo si el usuario es contratado) -->
                {% if usuario.estado_revision == 'Contratado' %}
                <div class="d-flex gap-3 fs-5 fw-bold">
                    <i class="bi bi-file-earmark-text"></i> Información del Contrato
                </div>
                <div class="row px-3">
                    <!-- Fecha Inicio Contrato -->
                    <div class="col-md-6">
                        <label for="fecha_inicio_contrato" class="form-label mb-0">Fecha Inicio Contrato <span class='fw-bold fs-4'>*</span></label>
                        <input type="date" class="form-control" id="fecha_inicio_contrato" name="fecha_inicio_contrato" value="{{ contrato.fecha_inicio|date:'Y-m-d' }}" {% if usuario.estado_revision != "Contratado" %}disabled{% endif %}>
                    </div>

                    <!-- Fecha Fin Contrato -->
                    <div class="col-md-6">
                        <label for="fecha_fin_contrato" class="form-label mb-0">Fecha Fin Contrato <span class='fw-bold fs-4'>*</span></label>
                        <input type="date" class="form-control" id="fecha_fin_contrato" name="fecha_fin_contrato" value="{{ contrato.fecha_fin|date:'Y-m-d' }}" {% if usuario.estado_revision != "Contratado" %}disabled{% endif %}>
                    </div>

                    <!-- Valor del Contrato -->
                    {% if usuario.fk_rol.id == 3 %}
                    <div class="col-md-12">
                        <label for="valor_contrato" class="form-label mb-0">Valor del Contrato <span class='fw-bold fs-4'>*</span></label>
                        <input type="number" class="form-control" id="valor_contrato" name="valor_contrato" value="{{ contrato.valor_contrato }}" {% if usuario.estado_revision != "Contratado" %}disabled{% endif %}>
                    </div>
                    {% endif %}
                </div>
                {% endif %}

                        </div>
                    </div>
                </div>
            {% elif "Secretaria Talento Humano" in user_groups %}
                <div class="d-flex gap-3 fs-5 fw-bold">
                    <i class="bi bi-person-vcard"></i> Información Personal
                </div>

                <div class="row px-3">
                    <div class="col-md-6 mb-2">
                        <label for="primer_nombre" class="form-label mb-0">Primer Nombre <span class='fw-bold fs-4'>*</span></label>
                        <input type="text" class="form-control" id="primer_nombre" name="primer_nombre" value="{% if usuario.primer_nombre %}{{ usuario.primer_nombre }}{% endif %}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="segundo_nombre" class="form-label mb-0">Segundo Nombre<span class='fw-bold fs-4'></span></label>
                        <input type="text" class="form-control" id="segundo_nombre" name="segundo_nombre" value="{% if usuario.segundo_nombre %}{{ usuario.segundo_nombre }}{% endif %}">
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="primer_apellido" class="form-label mb-0">Primer Apellido <span class='fw-bold fs-4'>*</span></label>
                        <input type="text" class="form-control" id="primer_apellido" name="primer_apellido" value="{{ usuario.primer_apellido }}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="segundo_apellido" class="form-label mb-0">Segundo Apellido<span class='fw-bold fs-4'></span></label>
                        <input type="text" class="form-control" id="segundo_apellido" name="segundo_apellido" value="{{ usuario.segundo_apellido }}">
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="fk_rol" class="form-label mb-0">Rol <span class='fw-bold fs-4'>*</span></label>
                        <select class="form-select" id="fk_rol" name="fk_rol" required>
                            <option value="" {% if not usuario.fk_rol %}selected{% endif %}>Seleccione</option>
                            {% for rol in roles_list %}
                                <option value="{{ rol.id }}" {% if usuario.fk_rol.id == rol.id %}selected{% endif %}>
                                    {{ rol.rol }} - {{ rol.descripcion }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="cargo" class="form-label mb-0">Cargo <span class='fw-bold fs-4'>*</span></label>
                        <input type="text" class="form-control" id="cargo" name="cargo" value="{% if usuario.cargo %}{{ usuario.cargo }}{% endif %}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="fecha_nacimiento" class="form-label mb-0">Fecha de Nacimiento <span class='fw-bold fs-4'>*</span></label>
                        <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ usuario.fecha_nacimiento|date:'Y-m-d' }}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="lugar_nacimiento" class="form-label mb-0">Lugar de Nacimiento<span class='fw-bold fs-4'></span></label>
                        <input type="text" class="form-control" id="lugar_nacimiento" name="lugar_nacimiento" value="{% if usuario.lugar_nacimiento %}{{ usuario.lugar_nacimiento }}{% endif %}">
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="fk_tipo_documento" class="form-label mb-0">Tipo de Documento <span class='fw-bold fs-4'>*</span></label>
                        <select class="form-select" id="fk_tipo_documento" name="fk_tipo_documento" required>
                            <option value="" {% if not usuario.fk_tipo_documento %}selected{% endif %}>Seleccione</option>
                            {% for tipo in tipos_documento_list %}
                                <option value="{{ tipo.id }}" {% if usuario.fk_tipo_documento.id == tipo.id %}selected{% endif %}>
                                    {{ tipo.tipo_documento }} - {{ tipo.descripcion }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="numero_documento" class="form-label mb-0">Número de Documento <span class='fw-bold fs-4'>*</span></label>
                        <input type="number" class="form-control" id="numero_documento" name="numero_documento" value="{{ usuario.numero_documento }}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="fecha_expedicion_documento" class="form-label mb-0">Fecha de Expedición del Documento <span class='fw-bold fs-4'>*</span></label>
                        <input type="date" class="form-control" id="fecha_expedicion_documento" name="fecha_expedicion_documento" value="{{ usuario.fecha_expedicion_documento|date:'Y-m-d' }}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="lugar_expedicion_documento" class="form-label mb-0">Lugar de Expedición del Documento<span class='fw-bold fs-4'></span></label>
                        <input type="text" class="form-control" id="lugar_expedicion_documento" name="lugar_expedicion_documento" value="{% if usuario.lugar_expedicion_documento %}{{ usuario.lugar_expedicion_documento }}{% endif %}" >
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="sexo" class="form-label mb-0">Sexo <span class='fw-bold fs-4'>*</span></label>
                        <select class="form-select" id="sexo" name="sexo" required>
                            <option value="" {% if not usuario.sexo %}selected{% endif %}>Seleccione</option>
                            <option value="Masculino" {% if usuario.sexo == "Masculino" %}selected{% endif %}>Masculino</option>
                            <option value="Femenino" {% if usuario.sexo == "Femenino" %}selected{% endif %}>Femenino</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="correo_personal" class="form-label mb-0">Correo Personal <span class='fw-bold fs-4'>*</span></label>
                        <input type="email" class="form-control" id="correo_personal" name="correo_personal" value="{{ usuario.correo_personal }}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="celular" class="form-label mb-0">Celular <span class='fw-bold fs-4'>*</span></label>
                        <input type="number" class="form-control" id="celular" name="celular" value="{{ usuario.celular }}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="telefono_fijo" class="form-label mb-0">Teléfono Fijo<span class='fw-bold fs-4'></span></label>
                        <input type="number" class="form-control" id="telefono_fijo" name="telefono_fijo" value="{{ usuario.telefono_fijo }}">
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="direccion_residencia" class="form-label mb-0">Dirección de Residencia <span class='fw-bold fs-4'>*</span></label>
                        <input type="text" class="form-control" id="direccion_residencia" name="direccion_residencia" value="{{ usuario.direccion_residencia }}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="departamento_residencia" class="form-label mb-0">Departamento de Residencia <span class='fw-bold fs-4'>*</span></label>
                        <select class="form-select" id="departamento_residencia" name="departamento_residencia" required>
                            <option value="" {% if not usuario.departamento_residencia %}selected{% endif %}>Seleccione</option>
                            {% for departamento in departamentos_list %}
                                <option value="{{ departamento.nombre }}" {% if usuario.departamento_residencia == departamento.nombre %}selected{% endif %}>
                                    {{ departamento.nombre }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="ciudad_residencia" class="form-label mb-0">Ciudad de Residencia <span class='fw-bold fs-4'>*</span></label>
                        <input type="text" class="form-control" id="ciudad_residencia" name="ciudad_residencia" value="{{ usuario.ciudad_residencia }}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="barrio_residencia" class="form-label mb-0">Barrio de Residencia <span class='fw-bold fs-4'>*</span></label>
                        <input type="text" class="form-control" id="barrio_residencia" name="barrio_residencia" value="{% if usuario.barrio_residencia %}{{ usuario.barrio_residencia }}{% endif %}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="estado_civil" class="form-label mb-0">Estado Civil<span class='fw-bold fs-4'></span></label>
                        <select class="form-select" id="estado_civil" name="estado_civil">
                            <option value="" {% if not usuario.estado_civil %}selected{% endif %}>Seleccione</option>
                            <option value="Soltero (a)" {% if usuario.estado_civil == "Soltero (a)" %}selected{% endif %}>Soltero (a)</option>
                            <option value="Casado (a)" {% if usuario.estado_civil == "Casado (a)" %}selected{% endif %}>Casado (a)</option>
                            <option value="Unión Libre" {% if usuario.estado_civil == "Unión Libre" %}selected{% endif %}>Unión Libre</option>
                            <option value="Separado (a)" {% if usuario.estado_civil == "Separado (a)" %}selected{% endif %}>Separado (a)</option>
                            <option value="Divorciado (a)" {% if usuario.estado_civil == "Divorciado (a)" %}selected{% endif %}>Divorciado (a)</option>
                            <option value="Viudo (a)" {% if usuario.estado_civil == "Viudo (a)" %}selected{% endif %}>Viudo (a)</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="ultimo_nivel_estudio" class="form-label mb-0">Último Nivel de Estudio <span class='fw-bold fs-4'>*</span></label>
                        <select class="form-select" id="ultimo_nivel_estudio" name="ultimo_nivel_estudio" required>
                            <option value="" {% if not usuario.ultimo_nivel_estudio %}selected{% endif %}>Seleccione</option>
                            {% for nivel in niveles_academicos_list %}
                                <option value="{{ nivel.nombre }}" {% if usuario.ultimo_nivel_estudio == nivel.nombre %}selected{% endif %}>
                                    {{ nivel.nombre }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="fk_eps" class="form-label mb-0">EPS <span class='fw-bold fs-4'>*</span></label>
                        <select class="form-select" id="fk_eps" name="fk_eps" required>
                            <option value="" {% if not usuario.fk_eps %}selected{% endif %}>Seleccione</option>
                            {% for eps in eps_list %}
                                <option value="{{ eps.id }}" {% if usuario.fk_eps and usuario.fk_eps.id == eps.id %}selected{% endif %}>
                                    {{ eps.nombre }} {% if eps.regimen %}({{ eps.regimen }}){% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="afp" class="form-label mb-0">AFP <span class='fw-bold fs-4'>*</span></label>
                        <select class="form-select" id="afp" name="afp" required>
                            <option value="" {% if not usuario.afp %}selected{% endif %}>Seleccione</option>
                            {% for afp in afp_list %}
                                <option value="{{ afp.nombre }}" {% if usuario.afp == afp.nombre %}selected{% endif %}>
                                    {{ afp.nombre }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-12">
                        <label for="url_hoja_de_vida" class="form-label mb-0">URL Hoja de Vida <span class='fw-bold fs-4'>*</span></label>
                        <input type="url" class="form-control" id="url_hoja_de_vida" name="url_hoja_de_vida" value="{{ usuario.url_hoja_de_vida }}" required>
                    </div>

                    <div class="col-md-6 mb-2">
                        <label for="sede_donde_labora" class="form-label mb-0">Sede donde laborará <span class='fw-bold fs-4'>*</span></label>
                        <select class="form-select" id="sede_donde_labora" name="sede_donde_labora" required>
                            <option value="" {% if not usuario.sede_donde_labora %}selected{% endif %}>Seleccione</option>
                            {% for sede in sedes_list %}
                                <option value="{{ sede.ubicacion }}" {% if usuario.sede_donde_labora == sede.ubicacion %}selected{% endif %}>
                                    {{ sede.ubicacion }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="estado_revision" class="form-label mb-0">Estado de Revisión <span class='fw-bold fs-4'></span></label>
                        <input type="text" class="form-control" id="estado_revision" name="estado_revision" value="{{ usuario.estado_revision }}" disabled>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</form>

{% comment %} <script>
    document.addEventListener("DOMContentLoaded", function () {
    console.log("Script cargado correctamente"); // Verifica en la consola del navegador

    const estadoRevision = document.getElementById("estado_revision");
    const camposContrato = document.querySelectorAll("#fecha_inicio_contrato, #fecha_fin_contrato, #valor_contrato");
    const tipoContrato = document.getElementById("tipo_contrato");

    if (estadoRevision) {
        function toggleCamposContrato() {
            if (estadoRevision.value === "Contratado") {
                // Habilitar campos del contrato
                camposContrato.forEach(campo => campo.disabled = false);
                tipoContrato.disabled = false;
            } else {
                // Deshabilitar campos del contrato
                camposContrato.forEach(campo => campo.disabled = true);
                tipoContrato.disabled = true;
            }
        }

        // Habilitar el campo "Estado de Revisión" si el usuario está en estado "Pendiente"
        if (estadoRevision.value === "Pendiente") {
            estadoRevision.disabled = false;
        } else {
            estadoRevision.disabled = true;
        }

        // Escuchar cambios en el campo "Estado de Revisión"
        estadoRevision.addEventListener("change", toggleCamposContrato);

        // Ejecutar la función al cargar la página
        toggleCamposContrato();
    } else {
        console.error("No se encontró el campo 'estado_revision'");
    }
});
</script> {% endcomment %}

{% comment %} <script>
function descargarEImprimir(usuarioId) {
    // Descargar el contrato y abrir la ventana de impresión
    const url = "{% url 'generar_contrato' usuario_id=0 %}".replace('0', usuarioId);
    fetch(url)
        .then(response => response.blob())
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = `Contrato_${usuarioId}.docx`;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);

            // Abrir el documento en una nueva ventana para impresión
            const printWindow = window.open(url, '_blank');
            printWindow.onload = function() {
                printWindow.print();
            };
        })
        .catch(error => {
            console.error('Error al descargar el contrato:', error);
            alert('Error al descargar el contrato. Por favor, intenta de nuevo.');
        });
}
</script>
 {% endcomment %}


<script>
document.addEventListener("DOMContentLoaded", function () {
    const estadoRevision = document.getElementById("estado_revision");
    const camposContrato = document.querySelectorAll("#fecha_inicio_contrato, #fecha_fin_contrato, #valor_contrato");
    const tipoContrato = document.getElementById("tipo_contrato");
    const descargarContratoBtn = document.querySelector("a[href*='generar_contrato']");
    const imprimirContratoBtn = document.querySelector("button[onclick*='descargarEImprimir']");

    if (estadoRevision) {
        function toggleCamposContrato() { 
            const isContratado = estadoRevision.value === "Contratado";
            camposContrato.forEach(campo => campo.disabled = !isContratado);
            tipoContrato.disabled = !isContratado;

            // Habilitar/deshabilitar los botones de descarga e impresión
            if (descargarContratoBtn && imprimirContratoBtn) {
                const allFieldsFilled = Array.from(camposContrato).every(campo => campo.value) && tipoContrato.value;
                descargarContratoBtn.classList.toggle("disabled", !isContratado || !allFieldsFilled);
                imprimirContratoBtn.disabled = !isContratado || !allFieldsFilled;
            }
        }

        if (estadoRevision.value === "Pendiente") {
            estadoRevision.disabled = false;
        } else {
            estadoRevision.disabled = true;
        }

        estadoRevision.addEventListener("change", toggleCamposContrato);
        camposContrato.forEach(campo => campo.addEventListener("input", toggleCamposContrato));
        tipoContrato.addEventListener("change", toggleCamposContrato);

        toggleCamposContrato();
    }
</script>