{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Evaluar Docente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/independientes.css' %}">
</head>
<body>
<div class="container mt-4">
    <h2 class="text-center mb-4 text-color-primario">Evaluación del Docente</h2>

    <div class="mb-4">
        <p class="text-color-primario"><strong>Docente evaluado:</strong> {{ docente.primer_nombre }} {{ docente.primer_apellido }}</p>
        <p class="text-color-primario"><strong>Cargo:</strong> {{ docente.cargo }}</p>
        <p>Id: {{ docente.id }}</p>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-color-primario mensaje">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if evaluacion_existente %}
        <div class="alert alert-info text-center text-color-primario">
            Ya realizaste esta evaluación para este docente. Gracias.
        </div>
    {% else %}
        <form method="POST" class="shadow p-4 bg-white rounded" style="border-radius: var(--borde-redondo);">
            {% csrf_token %}
            {% for categoria, preguntas in preguntas_por_categoria.items %}
                <div class="mb-5">
                    <h4 class="fw-bold text-color-primario">{{ categoria.nombre }}</h4>
                    {% for pregunta in preguntas %}
                        <div class="mb-3 d-flex w-100 justify-content-between align-items-start gap-4">
                            <label class="form-label text-color-primario w-75" for="respuesta_{{ pregunta.id }}">{{ pregunta.texto }}</label>
                            <select id="respuesta_{{ pregunta.id }}" name="respuesta_{{ pregunta.id }}" class="form-select w-25" required>
                                <option value="0" disabled selected> Elige una opcion</option>
                                <option value="1">Totalmente en desacuerdo</option>
                                <option value="2">Medianamente en desacuerdo</option>
                                <option value="3">Medianamente de acuerdo</option>
                                <option value="4">De acuerdo</option>
                                <option value="5">Totalmente de acuerdo</option>
                            </select>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-dark">Enviar Evaluación</button>
            </div>
        </form>
    {% endif %}
</div>
<footer class="mt-5 text-center">
    <a href="{% url 'evaluacion:listado_docentes' %}" class="btn btn-alterno-dark">Volver</a>
</footer>
</body>
</html>
