{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/estilos.css' %}" />
<div class="container mt-4">
    <h2 class="text-center mb-4">Listado de Docentes</h2>

  
    {% if mensaje_error %}
        <div class="alert alert-danger text-center mensaje">
            {{ mensaje_error }}
        </div>
    {% elif mensaje_advertencia %}
        <div class="alert alert-warning text-center mensaje">
            {{ mensaje_advertencia }}
        </div>
    {% endif %}

   
    {% if docentes %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for docente in docentes %}
                <tr>
                    <td class="text-center">{{ docente.primer_nombre }} {{ docente.primer_apellido }}</td>
                    <td class="text-center">{{ docente.cargo }}</td>
                    <td class="text-center">{{ docente.correo_personal }}</td>
                    <td class="text-center">
                        <a href="{% url 'evaluacion:evaluar_docente' docente.id %}" class="btn btn-alterno-red btn-sm">Evaluar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

       
        <div class="d-flex justify-content-between align-items-center">
            <div>
                Página {{ docentes.number }} de {{ docentes.paginator.num_pages }}
            </div>
            <div>
                {% if docentes.has_previous %}
                    <a href="?page={{ docentes.previous_page_number }}" class="btn btn-secondary btn-sm">◀ Anterior</a>
                {% endif %}
                {% if docentes.has_next %}
                    <a href="?page={{ docentes.next_page_number }}" class="btn btn-secondary btn-sm">Siguiente ▶</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        
        <div class="alert alert-info text-center mt-4">
            No hay docentes disponibles para evaluar.
        </div>
    {% endif %}
</div>
{% endblock %}