/* Colores del proyecto */
:root {
    --color-primario: #383837;
    --color-secundario: #fef5f6;
    --color-terciario: #ec5464;
    --borde-redondo: 15px;
}

/* Estilo general */
body {
    background-color: var(--color-secundario);
    font-family: Arial, sans-serif;
}

/* 
--------------------------------------- DASHBOARD BASE ---------------------------------------
*/

.side-panel {
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.bi-person-circle {
    font-size: 3rem;
}

.side-panel #nombre-usuario, .side-panel #email-usuario {
    color: var(--color-secundario);
}

.side-panel #nombre-usuario {
    font-size: 1.5rem;
}

.side-panel #email-usuario {
    font-size: 0.6rem;
}

.side-panel .nav-link, .side-panel .logout {
    color: var(--color-secundario);
    transition: color 0.3s ease-in-out, transform 0.1s ease-in-out;
    font-size: 1.3rem;
}

.side-panel .nav-link:hover, .side-panel .logout:hover {
    color: var(--color-secundario);
}

.side-panel .nav-link:active, .side-panel .logout:active {
    transform: scale(0.95);
}

.side-panel .logout {
    margin-top: auto;
}

/* Botones */
.btn:active {
    color: var(--color-secundario);
    background-color: var(--color-terciario) !important;
}

.btn-primary {
    background-color: var(--color-terciario);
    border: none;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.btn-acciones {
    background-color: var(--color-terciario);
    color: var(--color-secundario); 
    border: none;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.btn-primary:hover, .btn-acciones:hover {
    color: var(--color-secundario);
    background-color: var(--color-terciario);
}

.btn-primary:active, .btn-acciones:active {
    color: var(--color-secundario);
    transform: scale(0.98);
}

/* Estilo del encabezado de la tabla */
#tablaAspirantes thead {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-weight: bold;
}

/* Bordes redondeados para la tabla */
#tablaAspirantes {
    border-radius: var(--borde-redondo);
    overflow: hidden;
}

/* Estilo para las filas al pasar el mouse */
#tablaAspirantes tbody tr:hover {
    background-color: rgba(236, 84, 100, 0.1);
}

/* Alinear texto de los enlaces y botones */
.table a, .table button {
    text-align: center;
}

/* Estilo de enlaces */
#revisarHojaDeVida {
    color: var(--color-primario);
    transition: color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

#revisarHojaDeVida:hover {
    color: var(--color-terciario);
    text-decoration: underline;
}

#revisarHojaDeVida:active {    
    transform: scale(0.95);
}

/* 
--------------------------------------- MODAL FORMULARIOS ---------------------------------------
*/

span {
    color: var(--color-primario);
}

.modal-forms .modal-header {
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.modal-forms .modal-header .btn-close:focus {
    box-shadow: none !important;
}

.modal-forms .modal-body {
    color: var(--color-primario);
}

.modal-forms .modal-body .nav-tabs .nav-link {
    color: var(--color-primario);
}

.modal-forms .modal-body .nav-tabs .nav-link.active {
    color: var(--color-terciario);
    font-weight: 500;
}

.modal-forms .modal-footer {
    color: var(--color-primario);
}

.form-control, .form-select {
    border: 1px solid var(--color-primario);
    border-radius: 5px;
    font-size: 14px;
    padding: 0.5rem;
}

.form-control:focus, .form-select:focus {
    border-color: var(--color-terciario);
    box-shadow: 0 0 5px var(--color-terciario);
}

.form-control::placeholder, .form-select::placeholder {
    font-size: 14px;
    color: #9c9c94;
}