/* Colores del proyecto */
:root {
    --color-primario: #383837;
    --color-secundario: #fef5f6;
    --color-terciario: #ec5464;
    --borde-redondo: 15px;
}

/* Estilo general */
body {
    background-color: var(--color-secundario);
    font-family: Arial, sans-serif;
}

.h-custom {
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-primario);
}

p {
    font-size: 1.3rem;
    color: var(--color-primario);
}

/* 
--------------------------------------- LOGIN ---------------------------------------
*/

/* Estilo para la imagen */
.img-fluid {
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--borde-redondo);
}

/* Estilo general para formularios */
.form-outline {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control {
    border: 1px solid var(--color-primario);
    border-radius: 5px;
    font-size: 14px;
    padding: 0.5rem;
}

.form-control:focus {
    border-color: var(--color-terciario);
    box-shadow: 0 0 5px var(--color-terciario);
}

.form-control::placeholder {
    font-size: 14px;
    color: #9c9c94;
}

/* Estilo de enlaces */
#forgotPasswordLink, #backToLoginLink {
    color: var(--color-primario);
    font-size: 0.9rem;
    transition: color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

#forgotPasswordLink:hover, #backToLoginLink:hover {
    color: var(--color-terciario);
    text-decoration: underline;
}

#forgotPasswordLink:active ,#backToLoginLink:active {    
    transform: scale(0.95);
}

.error {
    font-size: 1rem;
}

/* Botones */
.btn:active {
    background-color: var(--color-terciario) !important;
}

.btn-primary {
    background-color: var(--color-terciario);
    border: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: transform 0.1s ease-in-out;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: var(--color-terciario);
}

.btn-primary:active {
    transform: scale(0.98);
}

/* 
--------------------------------------- Error 404 ---------------------------------------


.error-container {
    padding: 40px 15px;
    text-align: center;
}

*/